.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--quartenary-color);
}

.header,
.footer {
  flex-shrink: 0;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  flex: 1;
  padding: 50px 0 0 0;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  gap: 50px;

  .header {
    flex-direction: column;
    width: 100%;
    gap: 30px;

    .cont_img img {
      width: 1200px;
      height: 400px;
      object-fit: cover;
    }

    .cont_title {
      padding: 0px 20px;
      flex-direction: column;
      gap: 10px;

      .title {
        font-size: 1.7em;
        font-weight: bold;
      }

      img {
        cursor: pointer;
      }

    }

    .cont_autor {
      padding: 0px 20px;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 10px;

      .autor {
        font-weight: bold;

        .data {
          font-weight: 400;
          margin-left: 10px;
        }
      }

      img {
        width: 24px;
        height: 24px;
      }
    }
  }

  .line {
    height: 4px;
    background: var(--tertiary-color);
    width: 100%;
  }

  .main {
    padding: 0px 20px;
  }

  .compartilhar {
    width: 100%;
    justify-content: flex-start;
    padding: 0 20px;
    gap: 10px;

    img {
      transition: all .4s ease;
      cursor: pointer;

      &:hover {
        transform: translateY(-5px);
      }
    }
  }

  .cont_comentarios {
    width: 100%;
    padding: 10px;

    .cont_title {
      width: 100%;
      justify-content: left;
      margin-bottom: 30px;

      .title {
        font-size: 2em;
      }
    }

    .form_comentarios {
      flex-direction: column;
      gap: 20px;
      margin-bottom: 30px;


      .form {
        width: 600px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 2px solid var(--secondary-color);
        padding: 30px;
        border-radius: 20px;

        .title {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 100%;
          margin-bottom: 20px;

          .title_header {
            display: flex;
            align-items: center;
          }

          .rating {
            font-size: 2em;
            cursor: pointer;
          }
        }

        .container_input {
          margin-bottom: 1rem;
          text-align: left;

          label {
            display: block;
            margin-bottom: 0.5rem;
            color: #555;

            span {
              color: var(--secondary-color);
            }
          }

          .input-wrapper {
            position: relative;
          }

          input,
          textarea {
            width: 100%;
            padding: 0.75rem;
            border: 1px solid #ddd;
            border-radius: 4px;
            padding-right: 2.5rem;
            /* Espaço para o ícone */

            &:focus {
              border: 2px solid #B22828;
              outline: none;
            }
          }
        }

        .inputs_ident {
          display: flex;
          flex-wrap: wrap;
          width: 100%;
          gap: 8%;

          .container_input {
            width: 46%;
          }
        }

        button {
          color: white;
          background: var(--secondary-color);
          border-radius: 15px;
          padding: 10px 30px;
          border: none;
          text-transform: uppercase;
          transition: all .4s ease;
          cursor: pointer;

          &:hover{
            transform: scale(1.06);
          }
        }
      }
    }

    .cont_comente {
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 10px;

      .comente {
        flex-direction: column;
        background: var(--light-dark-color);
        border-radius: 15px;
        width: 600px;
        padding: 30px;
        gap: 20px;
        text-align: left;

        .user-info {
          justify-content: space-between;
          align-items: center;

          .header_user-info {
            gap: 10px;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
              width: 20px;
              height: 20px;
            }
          }

          .data {
            color: gray;
          }
        }
      }
    }
  }
}

@media (max-width: 1250px) {
  .header {

    .cont_img img {
      width: 100%;
      max-width: 1000px;
    }
  }
}

@media (max-width: 1050px) {
  .header {

    .cont_img img {
      width: 100%;
      max-width: 800px;
    }
  }
}

@media (max-width: 800px) {
  .container {
    padding: 0 0 50px 0;
  }

  .header {

    .cont_img img {
      width: 100%;
      max-width: 100vw;
    }
  }
}

@media (max-width: 700px) {

  .form,
  .comente {
    width: 100%;
    max-width: 500px;
    padding: 10px;
  }
}


@media (max-width: 550px) {

  .form,
  .comente {
    max-width: 340px;
  }

  .form .title{
    flex-direction: column;
    gap: 20px;
  }
}