.page-wrapper {
 display: flex;
 flex-direction: column;
 min-height: 100vh;
 background-color: var(--quartenary-color);
}

.header,
.footer {
 flex-shrink: 0;
}

.container {
 display: flex;
 justify-content: space-around;
 align-items: center;
 flex-direction: column;
 flex: 1;
 padding: 50px 0 0 0;
 width: 100%;
 max-width: 1200px;
 margin: auto;
 gap: 50px;

 .header {
  flex-direction: column;
  width: 100%;
  gap: 30px;

  .cont_img img {
   width: 1200px;
   height: 400px;
   object-fit: cover;
  }

  .cont_title {
   padding: 0px 20px;
   flex-direction: column;
   gap: 10px;

   .title {
    font-size: 1.7em;
    font-weight: bold;
   }

   img{
    cursor: pointer;
   }

  }

  .cont_autor {
   padding: 0px 20px;
   justify-content: space-between;
   flex-wrap: wrap;
   gap: 10px;

   .autor {
    font-weight: bold;

    .data {
     font-weight: 400;
     margin-left: 10px;
    }
   }

   img{
    width: 24px;
    height: 24px;
   }
  }
 }

 .line {
  height: 4px;
  background: var(--tertiary-color);
  width: 100%;
 }

 .main {
  padding: 0px 20px;
 }

 .compartilhar{
  width: 100%;
  justify-content: flex-start;
  padding: 0 20px;
  gap: 10px;

  img{
   transition: all .4s ease;
   cursor: pointer;

   &:hover{
    transform: translateY(-5px);
   }
  }
 }
}

@media (max-width: 1250px) {
 .header {

  .cont_img img {
   width: 100%;
   max-width: 1000px;
  }
 }
}

@media (max-width: 1050px) {
 .header {

  .cont_img img {
   width: 100%;
   max-width: 800px;
  }
 }
}

@media (max-width: 800px) {
 .container {
  padding: 0 0 50px 0;
 }
  .header {

   .cont_img img {
    width: 100%;
    max-width: 100vw;
   }
  }
}