.modal-container {
 width: 100%;
 height: 100%;
 padding: 30px 40px 20px 40px;

 .title {
  height: 40px;

  span {
   font-size: 1.5em;
   font-family: 'Cosen', sans-serif;
   font-weight: bold;
   color: var(--secondary-color);
   margin-bottom: 20px;
  }
 }

 .cont_button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  margin-top: 20px;

  .button {
   color: var(--quartenary-color);
   background: var(--secondary-color);
   font-size: 1.1em;
   padding: 10px 30px;
   border-radius: 3px;
   border: none;
  }
 }
}

.main_avaliacoes {
 gap: 30px;
 align-items: center;
 margin-bottom: 10px;
 justify-content: center;
 flex-wrap: wrap;
 height: calc(100% - 100px);
 max-height: calc(100% - 100px);
 overflow-y: auto;
 margin: auto;
 padding: 20px;
}

.avaliacao {
 width: 80%;
 border: 2px solid var(--secondary-color);
 padding: 20px;
 border-radius: 20px;
}

.avaliacao .row {
 flex-direction: column;
 gap: 5px;
 align-items: flex-start;
}

.cont_user {
 display: flex;
 flex-direction: row;
 align-items: center;
 margin-top: 10px;

 .user-avatar {
  max-width: 30%;
 }

 .user-info {
  display: flex;
  flex-direction: column;
  width: 70%;
 }
}

.footer_avaliacoes {
 height: 250px;
 background: var(--dark-color);
 gap: 40px;
}

.footer_avaliacoes,
.title_footer {
 text-align: center;
 flex-direction: column;
 justify-content: center;
 color: var(--quartenary-color);
}

.title_footer .footer_text {
 font-size: 2em;
 font-weight: bold;
 margin-bottom: 20px;
}

.footer_avaliacoes .cont_button {
 padding: 0;
}

@media (max-width:1000px) {
 .modal-container {
  padding: 30px 10px 20px 10px;
 
 }

 .main_avaliacoes {
  flex-wrap: nowrap;
  padding: 5px;
  flex-direction: column;
  justify-content: flex-start;

  .avaliacao{
   width: 100%;
  }
 }
}

// @media (max-width: 599px) {
//  .modal-container {
//   width: 100vw;
//   height: 100dvh;
//  }
// }