<header class="header">
  <app-sidebar-cliente></app-sidebar-cliente>
</header>

<main class="container">

  <section class="row header_download">
    <div class="col header_download_title">
      <div class="col header-title">
        <span class="title">{{ produto?.titulo_breve || 'Um título' }}</span>
        <span class="text">{{ produto?.detalhes_problema_beneficios || 'Detalhes do produto' }}</span>
      </div>
      <div class="col cont_list">
        <ul class="list">
          <li class="list_item">{{ produto?.destaque_problemas || 'Destaque de problemas' }}</li>
          <li class="list_item">{{ produto?.destaque_beneficio1 || 'Destaque benefício 1' }}</li>
          <li class="list_item">{{ produto?.destaque_beneficio2 || 'Destaque benefício 2' }}</li>
          <li class="list_item">{{ produto?.destaque_beneficio3 || 'Destaque benefício 3' }}</li>
        </ul>
      </div>
      <div class="col cont_button">
        <button class="button" (click)="openContactModal()">{{ produto?.cta ? 'Saiba mais' : 'CTA' }}</button>
      </div>
    </div>
    <div class="col header_img">
      <img [src]="produto?.imagem_placeholder || 'https://a.imagem.app/placeholder.png'" alt="Produto">
    </div>
  </section>

  <div class="container_cards">
    <div class="header-card">
      <span class="title">Por que a sua solução é melhor do que a atual</span>
    </div>
    <div class="row fundo cont_card">
      <div class="col card">
        <img src="images/cubo.png" alt="">
        <span class="title">Beneficio 1</span>
        <span class="text">{{ produto?.problema_beneficio1 || 'Destaque de problemas' }}</span>
      </div>
      <div class="col card">
        <img src="images/cubo.png" alt="">
        <span class="title">Beneficio 2</span>
        <span class="text">{{ produto?.problema_beneficio2 || 'Destaque de problemas' }}</span>
      </div>
      <div class="col card">
        <img src="images/cubo.png" alt="">
        <span class="title">Beneficio 3</span>
        <span class="text">{{ produto?.problema_beneficio3 || 'Destaque de problemas' }}</span>
      </div>
    </div>
  </div>

  <section class="cont_avalicoes">
    <section class="row header_avaliacoes">
      <section class="col">
        <span class="title">Testemunhos</span>
      </section>
      <section class="col">
        <span class="text">Mais social prof com testemunhos de clientes ou reviews do produto/serviços prestados</span>
      </section>
    </section>
    <section class="row main_avaliacoes">
      <app-avaliacoes [avaliacoes]="avaliacoes"></app-avaliacoes>


    </section>
    <section class="col cont_buttons_avaliacoes">
      <button *ngIf="this.avaliacoes.length > 3" class="button" (click)="this.openModal()">Ver mais</button>
      <button class="button" (click)="this.openModalForm()">Comentar</button>
    </section>
  </section>

  <div class="faq">
    <section class="cont_faq">
      <div class="col">
        <span class="title">Perguntas Frequentes (FAQs)</span>
        <span class="text">
          FAQ’s (Frequently Asked Questions) bem escritas podem entregar valor. Se você conhece seu público,
          sabe as perguntas frequentes - utilize aquelas que mais geram mais contato com o suporte. Não invente
          perguntas.
        </span>
      </div>
      <div class="col">
        <div class="pergunta" [ngClass]="{'active': activeIndex === 0}">
          <div class="header_pergunta" (click)="toggleResposta(0, respostaElement0)">
            <span>{{ produto?.pergunta1 || 'Destaque de problemas' }}</span>
            <img src="images/arrow_down.png" class="arrow" [ngClass]="{'rotated': activeIndex === 0}">
          </div>
          <div class="cont_perguntas">
            <div class="resposta" #respostaElement0>
              <p>{{ produto?.resposta1 || 'Destaque de problemas' }}</p>
            </div>
          </div>
        </div>

        <div class="pergunta" [ngClass]="{'active': activeIndex === 1}">
          <div class="header_pergunta" (click)="toggleResposta(1, respostaElement1)">
            <span>{{ produto?.pergunta2 || 'Destaque de problemas' }}</span>
            <img src="images/arrow_down.png" class="arrow" [ngClass]="{'rotated': activeIndex === 1}">
          </div>
          <div class="cont_perguntas">
            <div class="resposta" #respostaElement1>
              <p>{{ produto?.resposta2 || 'Destaque de problemas' }}</p>
            </div>
          </div>
        </div>

        <div class="pergunta" [ngClass]="{'active': activeIndex === 2}">
          <div class="header_pergunta" (click)="toggleResposta(2, respostaElement2)">
            <span>{{ produto?.pergunta3 || 'Destaque de problemas' }}</span>
            <img src="images/arrow_down.png" class="arrow" [ngClass]="{'rotated': activeIndex === 2}">
          </div>
          <div class="cont_perguntas">
            <div class="resposta" #respostaElement2>
              <p>{{ produto?.resposta3 || 'Destaque de problemas' }}</p>
            </div>
          </div>
        </div>

        <div class="pergunta" [ngClass]="{'active': activeIndex === 3}">
          <div class="header_pergunta" (click)="toggleResposta(3, respostaElement3)">
            <span>{{ produto?.pergunta4 || 'Destaque de problemas' }}</span>
            <img src="images/arrow_down.png" class="arrow" [ngClass]="{'rotated': activeIndex === 3}">
          </div>
          <div class="cont_perguntas">
            <div class="resposta" #respostaElement3>
              <p>{{ produto?.resposta4 || 'Destaque de problemas' }}</p>
            </div>
          </div>
        </div>

        <div class="pergunta" [ngClass]="{'active': activeIndex === 4}">
          <div class="header_pergunta" (click)="toggleResposta(4, respostaElement4)">
            <span>{{ produto?.pergunta5 || 'Destaque de problemas' }}</span>
            <img src="images/arrow_down.png" class="arrow" [ngClass]="{'rotated': activeIndex === 4}">
          </div>
          <div class="cont_perguntas">
            <div class="resposta" #respostaElement4>
              <p>{{ produto?.resposta5 || 'Destaque de problemas' }}</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <section class="contact-us">
    <p>Em caso de mais dúvidas, fale diretamente conosco:</p>
    <div class="whatsapp-info">
      <a href="https://wa.me/5515981267536" class="whatsapp-button" target="_blank">
        <svg fill="#ffff" width="32" height="32" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
          <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
          <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
          <g id="SVGRepo_iconCarrier">
            <path d="M11.42 9.49c-.19-.09-1.1-.54-1.27-.61s-.29-.09-.42.1-.48.6-.59.73-.21.14-.4 0a5.13 5.13 0 0 1-1.49-.92 5.25 5.25 0 0 1-1-1.29c-.11-.18 0-.28.08-.38s.18-.21.28-.32a1.39 1.39 0 0 0 .18-.31.38.38 0 0 0 0-.33c0-.09-.42-1-.58-1.37s-.3-.32-.41-.32h-.4a.72.72 0 0 0-.5.23 2.1 2.1 0 0 0-.65 1.55A3.59 3.59 0 0 0 5 8.2 8.32 8.32 0 0 0 8.19 11c.44.19.78.3 1.05.39a2.53 2.53 0 0 0 1.17.07 1.93 1.93 0 0 0 1.26-.88 1.67 1.67 0 0 0 .11-.88c-.05-.07-.17-.12-.36-.21z"/>
            <path d="M13.29 2.68A7.36 7.36 0 0 0 8 .5a7.44 7.44 0 0 0-6.41 11.15l-1 3.85 3.94-1a7.4 7.4 0 0 0 3.55.9H8a7.44 7.44 0 0 0 5.29-12.72zM8 14.12a6.12 6.12 0 0 1-3.15-.87l-.22-.13-2.34.61.62-2.28-.14-.23a6.18 6.18 0 0 1 9.6-7.65 6.12 6.12 0 0 1 1.81 4.37A6.19 6.19 0 0 1 8 14.12z"/>
          </g>
        </svg>
        <span>WHATSAPP</span>
      </a>
    </div>
  </section>
  </div>

  
  

</main>

<app-icone-whatsapp></app-icone-whatsapp>

<footer class="footer">
  <section class="row footer_avaliacoes">
    <section class="col title_footer">
      <span class="footer_text">{{ produto?.porque_clicar }}</span>
      <span>“Conectando talentos, otimizando processos, impulsionando vendas”</span>
    </section>
    <section class="col cont_button">
      <button class="button" (click)="openContactModal()">Saiba mais</button>
    </section>
  </section>
  <app-footer></app-footer>
</footer>

<div class="modal" *ngIf="isModalOpen">
  <div class="modal-content">
    <form class="form" [formGroup]="comentariosForm" (submit)="submitApplication()">
      <div class="title">
        <div class="title_header">
          <img src="images/message.png" alt="">
          <span>Deixe um comentário</span>
        </div>
        <div class="rating" (mouseleave)="reset()">
          <div class="cont_avaliacao">
            <span *ngFor="let star of stars; let i = index" (click)="rate(i + 1)" (mouseover)="hover(i + 1)"
              [ngClass]="{'filled': i < rating || i < hoverState}">
              &#9733;
            </span>
          </div>
          <div>
            <span #messageRating class="message_rating">Lembre-se de avaliar</span>
          </div>
        </div>
      </div>
      <div class="container_input grande">
        <label for="conteudo">Conteúdo<span>*</span></label>
        <textarea id="conteudo" formControlName="conteudo" placeholder="Digite o conteudo..." required
          maxlength="200"></textarea>
        <div class="error-message"
          *ngIf="comentariosForm.get('conteudo')!.invalid && (comentariosForm.get('conteudo')!.dirty || comentariosForm.get('conteudo')!.touched)">
          {{ getErrorMessage('conteudo') }}
        </div>
      </div>

      <div class="container_input grande">
        <label for="email">Email <span>*</span></label>
        <input id="email" type="email" formControlName="email" placeholder="Digite o seu email..." required />
        <div class="error-message"
          *ngIf="comentariosForm.get('email')!.invalid && (comentariosForm.get('email')!.dirty || comentariosForm.get('email')!.touched)">
          {{ getErrorMessage('email') }}
        </div>
      </div>
      <div class="container_input grande">
        <label for="nome">Nome<span>*</span></label>
        <input id="nome" type="text" formControlName="nome" placeholder="Digite o seu nome e sobrenome..." required
          maxlength="20" />
        <div class="error-message"
          *ngIf="comentariosForm.get('nome')!.invalid && (comentariosForm.get('nome')!.dirty || comentariosForm.get('nome')!.touched)">
          {{ getErrorMessage('nome') }}
        </div>
      </div>
      <div class="inputs_ident">
        <div class="container_input">
          <label for="profissao">Profissão<span>*</span></label>
          <input id="profissao" type="text" formControlName="profissao" placeholder="Digite a sua profissão..." required
            maxlength="20">
          <div class="error-message"
            *ngIf="comentariosForm.get('profissao')!.invalid && (comentariosForm.get('profissao')!.dirty || comentariosForm.get('profissao')!.touched)">
            {{ getErrorMessage('profissao') }}
          </div>
        </div>
        <div class="container_input">
          <label for="empresa">Empresa<span>*</span></label>
          <input id="empresa" type="text" formControlName="empresa" placeholder="Digite a empresa..." required
            maxlength="20">
          <div class="error-message"
            *ngIf="comentariosForm.get('empresa')!.invalid && (comentariosForm.get('empresa')!.dirty || comentariosForm.get('empresa')!.touched)">
            {{ getErrorMessage('empresa') }}
          </div>
        </div>
      </div>
      <div class="buttons_form">
        <button type="submit" class="primary">publicar</button>
        <button type="button" class="primary close" (click)="this.closeModalForm()">Fechar</button>
      </div>
    </form>

  </div>


</div>