.content {
 margin-left: 250px;
 padding: 20px;
 flex-grow: 1;
 background-color: #f5f5f5;
 min-height: 100vh;
 display: flex;
 flex-direction: column;
 align-items: center;
 gap: 30px;

 &__header {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 30px 0;

  &__text {
   font-size: 2em;
   color: var(--secondary-color);
  }


  .toggle-button {
   border-radius: 30px;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 300px;
   gap: 10px;
   padding: 5px;
   cursor: pointer;
   margin-top: 10px;
   border: 3px solid var(--primary-color-light);

   .paginas,
   .posts {
    border-radius: 30px 30px;
    padding: 10px;
    width: 40%;
    display: flex;
    justify-content: center;
    font-size: 1em;
    color: var(--primary-color);
    transition: all .1s ease;
   }

   .paginas.active,
   .posts.active {
    background: var(--primary-color-light);
    color: white;
   }
  }
 }



 &__main {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  flex-wrap: wrap;
  height: 100%;
  padding: 30px;
  text-align: center;
  

  &__faqs {
   width: 400px;
   border: 3px solid var(--secondary-color);
   padding: 20px 20px 10px 20px;
   border-radius: 15px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   transition: all .4s ease;

   &:hover {
    transform: scale(1.04);
   }


   &__comentario {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    height: 100%;

    .rating {
     display: flex;
     justify-content: center;
     align-items: flex-start;
     width: 100%;
    }

    .cont_user {
     display: flex;
     justify-content: flex-start;
     align-items: center;

     .user-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
     }
    }
   }

   &__actions {
    width: 100%;
    background: var(--secondary-color);
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 15px;

    transition: all .4s ease;

    &:hover {
     transform: translateY(-5px);
    }
   }
  }
 }
}

@media (max-width: 768px) {
 .content {
  margin-left: 0;
  padding-top: 90px;

  &__main {
   padding: 0;
  }
 }

 .navbar {
  font-size: 18px;
 }
}