.content {
    margin-left: 250px;
    padding: 20px;
    flex-grow: 1;
    background-color: #f5f5f5;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__header {
        height: 250px;
        display: flex;
        align-items: center;
        text-align: center;

        &__text {
            font-size: 1.5em;
        }
    }

    &__main {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;
        width: 100%;
        max-width: 1200px;


        &__faqs {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            gap: 20px;
            text-align: center;
            border: 3px solid var(--dark-color);
            padding: 20px;
            border-radius: 15px;

            &__text {
                font-size: 1.5em;
            }

            &__form {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                gap: 20px;

                &__container {
                    width: 100%;

                    &__input {
                        width: 100%;
                        padding: 15px;
                        font-size: 1em;
                        border-radius: 15px;
                    }
                }

                &__button {
                    border: 1px solid var(--secondary-color);
                    border-radius: 15px;

                    padding: 15px;
                    font-size: 1em;

                    background: transparent;
                    color: var(--secondary-color);

                    cursor: pointer;
                    transition: all .4s ease;

                    &:hover {
                        transform: scale(1.03);
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .content {
        margin-left: 0;
        padding-top: 90px;
    }

    .navbar {
        font-size: 18px;
    }
}

@media (max-width: 500px) {
    .content {

        &__header {
            height: 150px;
        }

        &__main {
            gap: 30px;

            &__faqs {
                gap: 25px;
            }
        }
    }
}

@media (max-width: 400px) {
    .content {
        &__main {
            &__faqs {
                &__form {
                    flex-direction: column;

                    &__button {
                        width: 100%;
                    }
                }
            }
        }
    }
}