<div class="page-wrapper">
    <header class="header">
        <app-sidebar-cliente></app-sidebar-cliente>
    </header>

    <main class="container">
        <section class="header_title">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil similique voluptatibus sed ex molestias.
                Tempore placeat voluptatibus veritatis est, ea error tempora excepturi exercitationem, ex illum impedit
                corrupti libero obcaecati.</p>
        </section>

        <section class="main_conteudo">
            <div>
                <p></p>
            </div>
        </section>
    </main>

    <footer class="footer">
        <app-footer></app-footer>
    </footer>
</div>