* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  background-color: var(--quartenary-color);
}

.header,
.footer {
  flex-shrink: 0;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  flex: 1;
  padding: 50px 20px;
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

.header-title p {
  font-size: 2em;
  font-family: 'Cosen', sans-serif;
  font-weight: bold;
  width: 70%;
  margin-bottom: 20px;
  text-align: center;
  color: var(--primary-color);
}

.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  width: 100%;
}

.title {
  font-size: 1.5em;
  font-family: 'Cosen', sans-serif;
  font-weight: bold;
  color: var(--secondary-color);
}

.fundo {
  background: #F6F6F6;
  padding: 15px;
}

.header-conteudo,
.img-conteudo {
  width: 50%;
  padding: 10px;
}

.header-conteudo span {
  width: 100%;
  max-width: 440px;
  font-size: 1.4em;
}

.img-conteudo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin: 0px 10px;

  text-align: center;
}