.page-wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background-color: var(--quartenary-color);
}

.header,
.footer {
	flex-shrink: 0;
}

.container {
	display: flex;
	flex: 1;
	padding: 50px 20px;

	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 40px;
	width: 100%;
}

.header-title p {
	font-size: 2em;
	line-height: 1.5em;
	font-family: 'Cosen', sans-serif;
	font-weight: bold;
	width: 70%;
	margin-bottom: 20px;
	text-align: center;
	color: var(--primary-color);
}

.title {
	font-size: 1.5em;
	font-family: 'Cosen', sans-serif;
	font-weight: bold;
	color: var(--secondary-color);
	margin-bottom: 10px;
}

.fundo {
	background: #F6F6F6;
	padding: 30px 15px;
}

.cont {
	width: 100%;
	max-width: 1200px;
	margin: auto;

	.header-conteudo,
	.img-conteudo {
		width: 50%;
		padding: 10px;
	}

	.header-conteudo {
		flex-direction: column;
		align-items: center;
		gap: 30px;

		.title {
			font-size: 2em;
		}

		span {
			width: 100%;
			max-width: 440px;
			font-size: 1.4em;
		}
	}

	.img-conteudo {
		overflow: hidden;
		position: relative;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: 10px;
		}
	}
}

.cont_card {
	justify-content: space-evenly;
}

.card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 5px;
	margin: 0px 10px;

	text-align: center;
	max-width: 340px;
}

.cont_button {
	justify-content: center;
	align-items: center;
	padding-bottom: 40px;
}

.button {
	color: var(--quartenary-color);
	background: var(--secondary-color);
	font-size: 1.1em;
	padding: 10px 30px;
	border-radius: 3px;
	border: none;
}

.cont_avalicoes {
	flex-direction: column;
	max-width: 1200px;
}

.header_avaliacoes {
	flex-direction: column;
	margin-bottom: 20px;
	text-align: center;
}

.header_avaliacoes .title {
	font-size: 2em;
}

.main_avaliacoes {
	gap: 30px;
	align-items: center;
	margin-bottom: 10px;
	justify-content: center;
}

.avaliacao {
	width: 30%;
	max-width: 400px;
}

.avaliacao .row {
	flex-direction: column;
	gap: 5px;
	align-items: flex-start;
}

.user-info {
	flex-direction: column;
}

.footer_avaliacoes {
	height: 250px;
	background: var(--dark-color);
	gap: 40px;
}

.footer_avaliacoes,
.title_footer {
	text-align: center;
	flex-direction: column;
	justify-content: center;
	color: var(--quartenary-color);
}

.title_footer .footer_text {
	font-size: 2em;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer_avaliacoes .cont_button {
	padding: 0;
}

// @media (max-width:){

// }