* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f2f5;
    font-family: Arial, sans-serif;
  }

  .header_title{
    font-size: 2em; 
    font-family: 'Cosen', sans-serif;
    font-weight: bold;
  }