<div class="page-wrapper">
    <header class="header">
        <app-sidebar-cliente></app-sidebar-cliente>
    </header>

    <main class="container">
        <section class="header-title">
            <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit…</p>
        </section>

        <section class="cont">
            <app-servicos-carousel [items]="servicos"></app-servicos-carousel>
        </section>

        <section class="cont_avalicoes">
            <section class="row header_avaliacoes">
                <section class="col">
                    <span class="title">Testemunhos</span>
                </section>
                <section class="col">
                    <span class="text">
                        Mais social prof com testemunhos de clientes ou reviews do produto/serviços prestados
                    </span>
                </section>
            </section>
            <section class="row main_avaliacoes">
                <section class="col avaliacao">
                    <section class="row">
                        <section class="col rating">
                            &#9733; &#9733; &#9733; &#9733; &#9734;
                        </section>
                        <section class="col content">
                            “Depoimento que alguém escreveu destacando os benefícios ou ganhos que teve ao usar o seu
                            produto/serviço.”
                        </section>
                        <section class="row cont_user">
                            <section class="col user-avatar">
                                <img src="https://a.imagem.app/3qQLht.png" alt="Avatar da pessoa">
                            </section>
                            <section class="col user-info">
                                <span class="user-name">Nome Sobrenome</span>
                                <span>Profissão, Empresa</span>
                            </section>
                        </section>
                    </section>
                </section>
                <section class="col avaliacao">
                    <section class="row">
                        <section class="col rating">
                            &#9733; &#9733; &#9733; &#9733; &#9734;
                        </section>
                        <section class="col content">
                            “Depoimento que alguém escreveu destacando os benefícios ou ganhos que teve ao usar o seu
                            produto/serviço.”
                        </section>
                        <section class="row">
                            <section class="col user-avatar">
                                <img src="https://a.imagem.app/3qQLht.png" alt="Avatar da pessoa">
                            </section>
                            <section class="col user-info">
                                <span class="user-name">Nome Sobrenome</span>
                                <span>Profissão, Empresa</span>
                            </section>
                        </section>
                    </section>
                </section>
                <section class="col avaliacao">
                    <section class="row">
                        <section class="col rating">
                            &#9733; &#9733; &#9733; &#9733; &#9734;
                        </section>
                        <section class="col content">
                            “Depoimento que alguém escreveu destacando os benefícios ou ganhos que teve ao usar o seu
                            produto/serviço.”
                        </section>
                        <section class="row">
                            <section class="col user-avatar">
                                <img src="https://a.imagem.app/3qQLht.png" alt="Avatar da pessoa">
                            </section>
                            <section class="col user-info">
                                <span class="user-name">Nome Sobrenome</span>
                                <span>Profissão, Empresa</span>
                            </section>
                        </section>
                    </section>
                </section>
            </section>
        </section>
    </main>

    <footer class="footer">
        <section class="row footer_avaliacoes">
            <section class="col title_footer">
                <span class="footer_text">Porque que a pessoa deve clicar</span>
                <span>“Conectando talentos, otimizando processos, impulsionando vendas”</span>
            </section>
            <section class="col cont_button">
                <button class="button">Saiba mais</button>
            </section>
        </section>
        <app-footer></app-footer>
    </footer>
</div>