<div class="page-wrapper">
    <header class="header">
        <app-sidebar-cliente></app-sidebar-cliente>
    </header>

    <main class="container">
        <section class="header-title">
            <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit…</p>
        </section>

        <section class="cont">
            <div class="row cont_header">
                <div class="col title">
                    <span>Serviços de RH</span>
                </div>
            </div>
            <div class="row fundo">
                <div class="col header-conteudo">
                    <span>
                        Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit
                        quisquam est qui dolorem ipsum quia dolor sit amet,
                        a dolor sit amet, consectetur, adipisci vm quia dolor sit amet, consectetur, adipisci velit
                        quisquam est qui dolorem
                    </span>
                </div>
                <div class="col img-conteudo">
                    <img src="https://a.imagem.app/3qQJoG.png" alt="imagem.placeholder">
                </div>
            </div>
            <div class="row fundo cont_card">
                <div class="col card">
                    <img src="images/cubo.png" alt="">
                    <span class="title">Beneficio 1</span>
                    <span class="text">Qual problema ela resolve? Descreva aqui e tente provar o seu ponto.</span>
                </div>
                <div class="col card">
                    <img src="images/cubo.png" alt="">
                    <span class="title">Beneficio 2</span>
                    <span class="text">Qual problema ela resolve? Descreva aqui e tente provar o seu ponto.</span>
                </div>
                <div class="col card">
                    <img src="images/cubo.png" alt="">
                    <span class="title">Beneficio 3</span>
                    <span class="text">Qual problema ela resolve? Descreva aqui e tente provar o seu ponto.</span>
                </div>
            </div>
            <div class="row fundo cont_button">
                <div class="col">
                    <button class="button">Saiba mais</button>
                </div>
            </div>
        </section>
        <section class="cont">
            <div class="row cont_header">
                <div class="col title">
                    <span>Serviços de processos</span>
                </div>
            </div>
            <div class="row fundo">
                <div class="col header-conteudo">
                    <span>
                        Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit
                        quisquam est qui dolorem ipsum quia dolor sit amet,
                        a dolor sit amet, consectetur, adipisci vm quia dolor sit amet, consectetur, adipisci velit
                        quisquam est qui dolorem
                    </span>
                </div>
                <div class="col img-conteudo">
                    <img src="https://a.imagem.app/3qQJoG.png" alt="imagem.placeholder">
                </div>
            </div>
            <div class="row fundo cont_card">
                <div class="col card">
                    <img src="images/cubo.png" alt="">
                    <span class="title">Beneficio 1</span>
                    <span class="text">Qual problema ela resolve? Descreva aqui e tente provar o seu ponto.</span>
                </div>
                <div class="col card">
                    <img src="images/cubo.png" alt="">
                    <span class="title">Beneficio 2</span>
                    <span class="text">Qual problema ela resolve? Descreva aqui e tente provar o seu ponto.</span>
                </div>
                <div class="col card">
                    <img src="images/cubo.png" alt="">
                    <span class="title">Beneficio 3</span>
                    <span class="text">Qual problema ela resolve? Descreva aqui e tente provar o seu ponto.</span>
                </div>
            </div>
            <div class="row fundo cont_button">
                <div class="col">
                    <button class="button">Saiba mais</button>
                </div>
            </div>
        </section>
        <section class="cont">
            <div class="row cont_header">
                <div class="col title">
                    <span>Serviços de vendas</span>
                </div>
            </div>
            <div class="row fundo">
                <div class="col header-conteudo">
                    <span>
                        Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit
                        quisquam est qui dolorem ipsum quia dolor sit amet,
                        a dolor sit amet, consectetur, adipisci vm quia dolor sit amet, consectetur, adipisci velit
                        quisquam est qui dolorem
                    </span>
                </div>
                <div class="col img-conteudo">
                    <img src="https://a.imagem.app/3qQJoG.png" alt="imagem.placeholder">
                </div>
            </div>
            <div class="row fundo cont_card">
                <div class="col card">
                    <img src="images/cubo.png" alt="">
                    <span class="title">Beneficio 1</span>
                    <span class="text">Qual problema ela resolve? Descreva aqui e tente provar o seu ponto.</span>
                </div>
                <div class="col card">
                    <img src="images/cubo.png" alt="">
                    <span class="title">Beneficio 2</span>
                    <span class="text">Qual problema ela resolve? Descreva aqui e tente provar o seu ponto.</span>
                </div>
                <div class="col card">
                    <img src="images/cubo.png" alt="">
                    <span class="title">Beneficio 3</span>
                    <span class="text">Qual problema ela resolve? Descreva aqui e tente provar o seu ponto.</span>
                </div>
            </div>
            <div class="row fundo cont_button">
                <div class="col">
                    <button class="button">Saiba mais</button>
                </div>
            </div>
        </section>
    </main>

    <footer class="footer">
        <app-footer></app-footer>
    </footer>
</div>