.container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.content,
.image-container {
    flex: 1;
    padding: 20px;
}

.content__image {
    display: block; 
    margin: 50px auto; 
    max-width: 50%;
    height: auto;
}

.content__info {
    max-width: 500px; 
    width: 100%; 
    margin: 20px auto; 
    padding: 10px;
}

.content__title {
    font-size: 45px;
    color: #B22828;
    margin-bottom: 20px;
}

.content__description {
    font-size: 16px; 
    line-height: 1.5;
    margin-bottom: 20px; 
}

.content__cta {
    display: flex;
    margin-top: 20px; 
}

.content__cta-button {
    background-color: #B22828;
    color: white;
    width: 350px;
    height: 55px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}

.content__cta-quote {
    font-size: 12px;
    padding-top: 7px;
    text-align: center;
    width: 80%;
}

.image-container__image {
    max-width: 100%;
    height: auto;
}

.services-title {
    text-align: center;
    font-size: 36px;
    color: #0c0c0c;
}

.opinions-title {
    text-align: center;
    font-size: 36px;
    color: #131212;
    margin-top: 50px;
}

.opinions-title .client-text {
    color: #B22828; /* Cor vermelha desejada */
}

.slideshow-container {
    position: relative;
    max-width: 60%;
    margin: 40px auto; 
    overflow: hidden;
    background-color: white; 
    border: 1px solid #ddd; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.slide {
    display: flex;
    align-items: center; 
    padding: 20px;
}

.text-container {
    flex: 1;
    padding: 20px;
}

.image-container-slide {
    flex: 1; 
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 300px;
    overflow: hidden; 
}

.image-container-slide img {
    max-width: 100%;
    max-height: 100%; 
    object-fit: cover;
    border-radius: 5px;
}


.dots-navigation-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.dots-container {
    text-align: center;
    margin-bottom: 10px;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

.navigation-container {
    display: flex;
    justify-content: center;
}

.navigation-container a {
    cursor: pointer;
    padding: 10px;
    color: #B22828; 
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 10%; 
    user-select: none;
    background-color: rgba(0,0,0,0.1); 
    margin: 5px 10px;
}

.navigation-container a:hover {
    background-color: rgba(0,0,0,0.2);
}

.review-cards-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    margin-top: 50px;
}

.review-card {
    width: 100%; 
    max-width: 300px;
    margin: 10px; 
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    padding: 20px;
}

.comment p {
    font-size: 14px;
    color: #666;
    line-height: 1.6;
}

.user-info {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.user-avatar img {
    width: 40px; 
    height: 40px; 
    border-radius: 50%; 
    margin-right: 10px;
}

.user-name {
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

.rating {
    font-size: 18px;
    color: #FFD700; 
}

.separator-line {
    height: 1px;
    background-color: #ddd;
    margin: 40px auto; 
    width: 80%; 
}

.contact-section {
    text-align: center;
    margin-top: 20px;
}

.contact-title {
    font-size: 24px;
    color: #B22828;
}

.contact-subtitle {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
}

.contact-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.contact-form label {
    font-size: 16px;
    margin-bottom: 5px;
    color: #333;
    text-align: left;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form input[type="tel"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.contact-form textarea{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}


.contact-form button {
    background-color: #B22828;
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.contact-form button:hover {
    background-color: #8c1f1f;
}

.whatsapp-info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.whatsapp-button {
    display: flex;
    align-items: center;
    background-color: #25D366;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.whatsapp-button:hover {
    background-color: #1DA851;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}
.whatsapp-icon {
    position: fixed;
    bottom: 15px;
    right: 15px;
    width: 45px;
    height: 45px;
    z-index: 1000;
    cursor: pointer;
    transition: transform 0.3s;
}

.whatsapp-icon:hover {
    transform: scale(1.1);
}


@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .content,
    .image-container {
        max-width: 100%;
    }

    .slideshow-container {
        max-width: 80%;
    }

    .content__image {
        margin: 20px auto; 
        max-width: 80%;
        height: auto;
    }

    .content__title {
        font-size: 25px;
        margin-bottom: 25px;
        text-transform: uppercase;
        position: relative; 
    }

    .content__title::after {
        content: "";
        display: block;
        width: 100%; 
        max-width: 200px; 
        border-bottom: 0.5mm solid #B22828;
        margin: 0 auto; 
        position: absolute;
        bottom: -5px; 
        left: 0;
    }

    .content__cta-button {
        width: 300px;
        height: 55px;
    }

    .content__cta-quote {
        font-size: 11px;
        padding-top: 7px;
        text-align: center;
        width: 100%;
    }

    .services-title {
        font-size: 28px;
        margin: 20px 0;
    }

    .image-container-slide {
        flex: 1;
        text-align: center;
        height: 300px; 
        overflow: hidden; 
    }

    .slide {
        flex-direction: column;
    }

    .text-container,
    .image-container-slide {
        width: 100%;
        padding: 0;
        text-align: center;
    }

    .whatsapp-icon {
        width: 40px;
        height: 40px;
        bottom: 10px;
        right: 10px;
    }

    .contact-form {
        max-width: 300px;
    }
    
}
