<app-sidebar-cliente></app-sidebar-cliente>

<div class="container">
    <div class="content">
        <img src="https://a.imagem.app/3qsdiX.png" alt="3qsdiX.png" class="content__image" />
        <div class="content__info">
            <h1 class="content__title">Título focado no problema que você resolve</h1>
            <p class="content__description">Na LINKA NEGÓCIOS, acreditamos no poder da conexão. Nossa missão é otimizar processos e impulsionar vendas através de soluções inovadoras e personalizadas. Com uma equipe de especialistas dedicados, estamos prontos para ajudar sua empresa a alcançar novos patamares de sucesso.</p>
            <div class="content__cta">
                <button class="content__cta-button">CTA</button>
                <p class="content__cta-quote">“Conectando talentos, otimizando processos, impulsionando vendas”</p>
            </div>
        </div>
    </div>
    <div class="image-container">
        <img src="https://a.imagem.app/3qsZom.png" alt="3qsZom.png" class="image-container__image" />
    </div>
</div>

<app-slides-show></app-slides-show>

<div class="opinions-section">
    <h2 class="opinions-title">Veja o que <span class="client-text">nossos clientes</span> dizem!</h2>
    <div class="review-cards-container">
        <div class="review-card">
            <div class="avatar_detalhe">
                <img src="https://a.imagem.app/3qQwPW.png" alt="Avatar da pessoa">
            </div>
            <div class="comment">
                <p>Comentário da pessoa Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
            <div class="user-info">
                <div class="user-avatar">
                    <img src="https://a.imagem.app/3qQLht.png" alt="Avatar da pessoa">
                </div>
                <div class="user-details">
                    <div class="user-name">Nome da Pessoa</div>
                    <div class="rating">
                        &#9733; &#9733; &#9733; &#9733; &#9734; 
                    </div>
                </div>
            </div>
        </div>
        
        <div class="review-card">
            <div class="avatar_detalhe">
                <img src="https://a.imagem.app/3qQwPW.png" alt="Avatar da pessoa">
            </div>
            <div class="comment">
                <p>Comentário da pessoa Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
            <div class="user-info">
                <div class="user-avatar">
                    <img src="https://a.imagem.app/3qQLht.png" alt="Avatar da pessoa">
                </div>
                <div class="user-details">
                    <div class="user-name">Nome da Pessoa</div>
                    <div class="rating">
                        &#9733; &#9733; &#9733; &#9733; &#9734; 
                    </div>
                </div>
            </div>
        </div>

        <div class="review-card">
            <div class="avatar_detalhe">
                <img src="https://a.imagem.app/3qQwPW.png" alt="Avatar da pessoa">
            </div>
            <div class="comment">
                <p>Comentário da pessoa Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
            <div class="user-info">
                <div class="user-avatar">
                    <img src="https://a.imagem.app/3qQLht.png" alt="Avatar da pessoa">
                </div>
                <div class="user-details">
                    <div class="user-name">Nome da Pessoa</div>
                    <div class="rating">
                        &#9733; &#9733; &#9733; &#9733; &#9734; 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="separator-line"></div>

<div class="contact-section">
    <h2 class="contact-title">Em caso de dúvida:</h2>
    <p class="contact-subtitle">Preencha os campos e aguarde o nosso retorno, até lá!</p>
    
    <div class="contact-form">
        <form action="#" method="post">
            <label for="nome">Nome:</label>
            <input type="text" id="nome" name="nome" required>

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>

            <label for="empresa">Nome da Empresa:</label>
            <input type="text" id="empresa" name="empresa">

            <label for="telefone">Telefone:</label>
            <input type="tel" id="telefone" name="telefone">

            <label for="mensagem">Mensagem:</label>
            <textarea id="mensagem" name="mensagem" rows="4"></textarea>

            <button type="submit">Enviar</button>
        </form>
    </div>

    <div class="whatsapp-info">
        <a href="https://wa.me/5515988360435" class="whatsapp-button" target="_blank">
            <img src="https://a.imagem.app/3qDtjr.png" alt="Ícone WhatsApp" class="whatsapp-icon">
            <span>WHATSAPP (42) 99999-0000</span>
        </a>
    </div>
</div>

<a href="https://wa.me/5515988360435" target="_blank">
    <img src="https://a.imagem.app/3qDtjr.png" alt="WhatsApp Icon" class="whatsapp-icon">
</a>

<footer class="footer">
<app-footer></app-footer>
</footer>
