<app-sidebar-cliente></app-sidebar-cliente>
<div class="container">
    <div class="content">
        <img src="https://a.imagem.app/3qsdiX.png" alt="3qsdiX.png" class="content__image" />
        <div class="content__info">
            <h1 class="content__title">Título focado no problema que você resolve</h1>
            <p class="content__description">Na LINKA NEGÓCIOS, acreditamos no poder da conexão. Nossa missão é otimizar processos e impulsionar vendas através de soluções inovadoras e personalizadas. Com uma equipe de especialistas dedicados, estamos prontos para ajudar sua empresa a alcançar novos patamares de sucesso.</p>
            <div class="content__cta">
                <button class="content__cta-button">CTA</button>
                <p class="content__cta-quote">“Conectando talentos, otimizando processos, impulsionando vendas”</p>
            </div>
        </div>
    </div>
    <div class="image-container">
        <img src="https://a.imagem.app/3qsZom.png" alt="3qsZom.png" class="image-container__image" />
    </div>
</div>

