* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f2f5;
  font-family: Arial, sans-serif;
}

.formulario {
  background-color: #fff;
  padding: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header_form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.5rem;
}

.header_title {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 0.5rem;
}

.header_logo {
  width: 80px;
  background: #B22828;
  border-radius: 50%;
  padding: 15px;
}

.main_form {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.container_input {
  margin-bottom: 1rem;
  text-align: left;

  label {
    display: block;
    margin-bottom: 0.5rem;
    color: #555;
  }

  .input-wrapper {
    position: relative;
  }

  input {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding-right: 2.5rem;
    /* Espaço para o ícone */

    &:focus {
      border: 2px solid #B22828;
      outline: none;
    }
  }

  .show_password {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    display: flex;
    align-items: center;
    background: white;

    img {
      width: 24px;
    }
  }

  .forget_password {
    display: block;
    text-align: right;
    margin-top: 0.5rem;
    color: #007bff;
    cursor: pointer;
    font-size: 0.875rem;

    &:hover {
      text-decoration: underline;
    }
  }
}

.primary {
  width: 100%;
  padding: 0.75rem;
  background-color: #B22828;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 15px;
  border-radius: 20px;
  transition: background-color 0.3s;

  &:hover {
    background-color: #c42c2c;
  }
}

/* Estilos responsivos */
@media (max-width: 600px) {
  .container {
    padding: 0 1rem;
  }

  .formulario {
    padding: 1.5rem;
    justify-content: space-around;
    height: 60%;
  }

  .header_form {
    margin-bottom: 0;
  }

  .main_form {
    .form {
      .container_input {
        label {
          font-size: 0.875rem;
        }

        input {
          padding: 0.5rem;
        }

        .forget_password {
          font-size: 0.75rem;
        }
      }

      .primary {
        font-size: 0.875rem;
        padding: 0.5rem;
        margin-top: 30px;
      }
    }
  }
}

@media only screen and (max-width: 450px) and (max-height:700px) {
  .container {
    padding: 0;
  }

  .formulario {
    padding: 1.5rem;
    justify-content: space-around;
    height: 100%;
  }
}

.error-message {
  font-size: 0.875rem;
  color: #dc3545;
  margin-top: 0.25rem;
}