.whatsapp-icon {
    position: fixed;
    bottom: 15px;
    right: 15px;
    width: 45px;
    height: 45px;
    z-index: 1000;
    cursor: pointer;
    transition: transform 0.3s;
    animation: pulse 1.5s infinite;
    z-index: 1000;
}

.whatsapp-icon:hover {
    transform: scale(1.1);
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}