<app-sidebar-admin></app-sidebar-admin>
<div class="content">
    <div class="admin-container">
        <h1>Atendimento ao Cliente - Solicitações</h1>

        <div class="card-container">
            <div class="card" *ngFor="let contato of contatos" (click)="openModal(contato)">
                <h3>{{ contato.nome }}</h3>
                <p>{{ contato.telefone | phoneFormat}}</p>
                <a [href]="'https://wa.me/55' + formatPhoneForWhatsApp(selectedContato?.telefone)" target="_blank">
                    <img src="https://a.imagem.app/3qDtjr.png" alt="WhatsApp Icon" class="whatsapp-icon">
                </a>
            </div>
        </div>
    </div>
</div>

<div class="modal" [class.show]="isModalOpen">
    <div class="modal-content">
        <span class="close" (click)="closeModal()">&times;</span>
        <h2>{{ selectedContato?.nome }}</h2>
        <p><strong>Email:</strong> {{ selectedContato?.email }}</p>
        <p><strong>Telefone:</strong> {{ selectedContato?.telefone | phoneFormat }}</p>
        <p><strong>Empresa:</strong> {{ selectedContato?.empresa }}</p>
        <p><strong>Área de Atuação:</strong> {{ selectedContato?.area_atuacao }}</p>
        <p><strong>Mensagem:</strong> {{ selectedContato?.mensagem }}</p>
        <p><strong>Data de Envio:   </strong> {{ selectedContato?.data_envio | dateFormat }}</p>
        <a [href]="'https://wa.me/55' + formatPhoneForWhatsApp(selectedContato?.telefone)" target="_blank">
            <img src="https://a.imagem.app/3qDtjr.png" alt="WhatsApp Icon" class="whatsapp-icon">
        </a>
    </div>
</div>