* {
  font-family: "Sora", sans-serif;
}

.content {
  margin-left: 250px;
  padding: 40px 20px 20px 20px;
  flex-grow: 1;
  background-color: #f5f5f5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titulo {
  font-size: 45px;
  color: #b22828;
  margin-bottom: 20px;
  font-family: "Cosen", sans-serif;
  font-weight: 600;
  text-align: center;
}

.feedback-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feedback-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  list-style-type: none;
  padding: 0;
}

.feedback-item {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.3s;
}

.feedback-item:hover {
  transform: translateY(-5px);
}

.cont_img {
  display: flex;
  align-items: center;
  gap: 50px;
}

.cont_img img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.feedback-item h5 {
  font-size: 1.2rem;
  margin: 0;
  font-weight: 600;
}

.feedback-item p {
  font-size: 1rem;
  color: #555;
  margin-top: 10px;
  margin-bottom: 20px;
}

.feedback-rating .rating {
  display: inline-flex;
  font-size: 1.6rem;
  color: #fbc02d;
  display: inline-block;
}

.card-actions {
  display: flex;
  justify-content: space-between;
}

.card-actions a img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

a {
  cursor: pointer;
  width: 50%;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;

  &.edit {
    background: green;
  }

  &.delete {
    background: red;
  }

  &:hover img {
    transform: translateY(-3px);
  }

  img {
    width: 50%;
    height: 50%;
    object-fit: contain;
    transition: all 0.4s ease;
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal-content {
  background-color: #fff;
  border-radius: 10px;
  padding: 30px;
  width: 400px;
  max-width: 90%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  animation: fadeIn 0.3s ease-in-out;
  position: relative;
}

.header-editar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f8f8f8;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  margin-bottom: 15px;
}

.titulo-editar {
  margin: 0;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.2;
  color: #a32020;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.titulo-editar::before {
  content: "\1F4DD";
  font-size: 1.5rem;
  margin-right: 10px;
}

.close {
  color: #000000;
  font-size: 45px;
  font-weight: bold;
  cursor: pointer;
  background: #f8f8f8;
  margin-left: auto;
  margin-right: 10px;
  float: right;
}

.close:hover,
.close:focus {
  color: rgb(150, 150, 150);
  text-decoration: none;
  cursor: pointer;
}

.feedback-form-container h4 {
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

.form-group input:focus,
.form-group textarea:focus {
  outline: none;
  border-color: #a02020;
}

.form-actions {
  text-align: center;
}

.btn-submit {
  background-color: #a02020;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.btn-submit:hover {
  background-color: #6e1515;
}

.rating {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  color: #ddd;
  margin-bottom: 20px;
}

.rating span {
  cursor: pointer;
  transition: color 0.3s ease;
}

.rating span:hover,
.rating span.filled {
  color: #fbc02d;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.button_fab {
  animation: pulse 1.5s infinite;
}

.container_fab {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 1000;
  border: none;

  .button_fab {
    background: var(--secondary-color);
    border-radius: 50%;
    transition: all 0.4s ease;
    animation: pulse 1.5s infinite;
    width: 64px;
    height: 64px;

    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      transform: translateY(-5px);
    }
  }
}

@media (max-width: 768px) {
  .content {
    margin-top: 50px;
    margin-left: 0;
  }

  .feedback-list {
    flex-direction: column;
    align-items: center;
  }

  .feedback-item {
    width: 100%;
  }
}
