<app-sidebar-admin></app-sidebar-admin>
<div class="content">
  <div class="feedback-list-container">
    <div class="header">
      <h1 class="titulo">Feedbacks dos Clientes</h1>
    </div>

    <ul class="feedback-list">
      <li class="feedback-item" *ngFor="let feedback of feedbacks">
        <div class="cont_img">
            <img [src]="feedback.foto_perfil" alt="{{ feedback.nome }}" />
            <div class="feedback-rating">
              <span *ngIf="feedback.avaliacao !== null">
                <div class="rating">
                  <span *ngFor="let star of starsArray"
                        [ngClass]="{'filled': star <= feedback.avaliacao}">
                    &#9733;
                  </span>
                </div>
              </span>
            </div>
          </div>
        <div>
          <h5>{{ feedback.nome }}</h5>
        </div>
        <p>{{ feedback.mensagem }}</p>

        <div class="card-actions">
          <a (click)="openEditModal(feedback)" class="edit">
            <img src="images/edit.png" alt="Edit Icon">
          </a>
          <a (click)="deleteFeedback(feedback.id)" class="delete">
            <img src="images/trash.png" alt="Delete Icon">
          </a>
        </div>
      </li>
    </ul>
  </div>

  <div class="modal" *ngIf="isModalOpen">
    <div class="modal-content">
      <div class="feedback-form-container">
        <div class="header-editar">
          <h2 class="titulo-editar">Cadastrar</h2>
          <span class="close" (click)="closeModal()">&times;</span>
      </div>
        <form [formGroup]="feedbackForm" (ngSubmit)="onSubmit()">

          <div class="rating" (mouseleave)="reset()">
            <div class="cont_avaliacao">
              <span *ngFor="let star of stars; let i = index"
                    (click)="rate(i + 1)"
                    (mouseover)="hover(i + 1)"
                    [ngClass]="{'filled': i < rating || i < hoverState}">
                &#9733;
              </span>
            </div>
          </div>

          <div class="form-group">
            <label for="nome">Nome</label>
            <input id="nome" formControlName="nome" type="text" required />
          </div>

          <div class="form-group">
            <label for="mensagem">Mensagem</label>
            <textarea id="mensagem" formControlName="mensagem" rows="4" required></textarea>
          </div>

          <div class="form-actions">
            <button type="submit" class="btn-submit">Enviar</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="modal" *ngIf="isEditModalOpen">
    <div class="modal-content">
      <div class="feedback-form-container">
        <div class="header-editar">
          <h2 class="titulo-editar">Editar</h2>
          <span class="close" (click)="closeEditModal()">&times;</span>
      </div>
        <form [formGroup]="editFeedbackForm" (ngSubmit)="onEditSubmit()">
          <div class="rating" (mouseleave)="reset()">
            <div class="cont_avaliacao">
              <span *ngFor="let star of stars; let i = index" (click)="rate(i + 1)" (mouseover)="hover(i + 1)"
                    [ngClass]="{'filled': i < rating || i < hoverState}">
                    &#9733;
              </span>
            </div>
          </div>
          <div class="form-group">
            <label for="nome">Nome</label>
            <input id="nome" formControlName="nome" type="text" required />
          </div>
          <div class="form-group">
            <label for="mensagem">Mensagem</label>
            <textarea id="mensagem" formControlName="mensagem" rows="4" required></textarea>
          </div>
          <div class="form-actions">
            <button type="submit" class="btn-submit">Atualizar</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="container_fab" *ngIf="this.feedbacks.length < 3">
    <button class="button_fab" (click)="openModal()">
      <svg

        width="32px"
        height="32px"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M12 4C12.5523 4 13 4.44772 13 5V11H19C19.5523 11 20 11.4477 20 12C20 12.5523 19.5523 13 19 13H13V19C13 19.5523 12.5523 20 12 20C11.4477 20 11 19.5523 11 19V13H5C4.44772 13 4 12.5523 4 12C4 11.4477 4.44772 11 5 11H11V5C11 4.44772 11.4477 4 12 4Z"
          fill="#fff"
        />
      </svg>
    </button>
  </div>
</div>
