<header class="header">
  <app-sidebar-cliente></app-sidebar-cliente>
</header>

<main class="container">

  <section class="row header_download">
    <div class="col header_download_title">
      <div class="col header-title">
        <span class="title">{{ produtos[0].titulo_breve || 'Um título' }}</span>
  <span class="text">{{ produtos[0].detalhes_problema_beneficios || 'Detalhes do produto' }}</span>
      </div>
      <div class="col cont_list">
        <ul class="list">
          <li class="list_item">{{ produtos[0].destaque_problemas || 'Destaque de problemas' }}</li>
          <li class="list_item">{{ produtos[0].destaque_beneficio1 || 'Destaque benefício 1' }}</li>
          <li class="list_item">{{ produtos[0].destaque_beneficio2 || 'Destaque benefício 2' }}</li>
          <li class="list_item">{{ produtos[0].destaque_beneficio3 || 'Destaque benefício 3' }}</li>
        </ul>
      </div>
      <div class="col cont_button">
        <button class="button" (click)="redirectToPage()">{{ produtos[0].cta ? 'Saiba mais' : 'CTA' }}</button>
      </div>      
      
    </div>
    <div class="col header_img">
      <img [src]="produtos[0].imagem_placeholder || 'https://a.imagem.app/placeholder.png'" alt="Produto">
    </div>
  </section>

  <div class="container_cards">
    <div class="header-card">
      <span class="title">Por que a sua solução é melhor do que a atual</span>
    </div>
    <div class="row fundo cont_card">
      <div class="col card">
        <img src="images/cubo.png" alt="">
        <span class="title">{{ produtos[0].beneficio1 || 'Destaque de problemas' }}</span>
        <span class="text">{{ produtos[0].problema_beneficio1 || 'Destaque de problemas' }}</span>
      </div>
      <div class="col card">
        <img src="images/cubo.png" alt="">
        <span class="title">{{ produtos[0].beneficio2 || 'Destaque de problemas' }}</span>
        <span class="text">{{ produtos[0].problema_beneficio2 || 'Destaque de problemas' }}</span>
      </div>
      <div class="col card">
        <img src="images/cubo.png" alt="">
        <span class="title">{{ produtos[0].beneficio3 || 'Destaque de problemas' }}</span>
        <span class="text">{{ produtos[0].problema_beneficio3 || 'Destaque de problemas' }}</span>
      </div>
    </div>
  </div>

  <section class="cont_avalicoes">
    <section class="row header_avaliacoes">
      <section class="col">
        <span class="title">Testemunhos</span>
      </section>
      <section class="col">
        <span class="text">Mais social prof com testemunhos de clientes ou reviews do produto/serviços prestados</span>
      </section>
    </section>
    <section class="row main_avaliacoes">
      <app-avaliacoes [avaliacoes]="avaliacoes"></app-avaliacoes>
    </section>
  </section>

  <div class="faq">
    <section class="col cont_button">
      <button class="button" (click)="openModal()">Ver mais</button>
    </section>
    <section class="cont_faq">
      <div class="col">
        <span class="title">Perguntas Frequentes (FAQs)</span>
        <span class="text">
          FAQ’s (Frequently Asked Questions) bem escritas podem entregar valor. Se você conhece seu público,
          sabe as perguntas frequentes - utilize aquelas que mais geram mais contato com o suporte. Não invente
          perguntas.
        </span>
      </div>
      <div class="col">
        <div class="form_perguntas">
          <form class="form" [formGroup]="faqForms" (submit)="submitFaqForms(faqForms.value)">
            <div class="container_input">
              <input id="pergunta" type="text" placeholder="Escreva a sua pergunta..." formControlName="pergunta"
                required>
            </div>
            <button type="submit" class="primary button">Perguntar</button>
          </form>
        </div>
        <div *ngIf="perguntas.length >= 1">
          <div *ngFor="let pergunta of perguntas | slice:startIndex:endIndex" class="pergunta"
            [ngClass]="{'active': pergunta.active}">
            <div class="header_pergunta" (click)="toggleResposta(pergunta, respostaElement)">
              <span>{{ pergunta.pergunta }}</span>
              <img src="images/arrow_down.png" class="arrow" [ngClass]="{'rotated': pergunta.active}">
            </div>
            <div class="cont_perguntas">
              <div class="resposta" #respostaElement>
                <p>{{ pergunta.resposta }}</p>
              </div>
            </div>
          </div>

          <div class="cont_button">
            <!-- Botão para mostrar menos perguntas -->
            <button class="button" *ngIf="startIndex > 0" (click)="verMenos()"> < Ver Menos</button>

            <!-- Botão para mostrar mais perguntas -->
            <button class="button" *ngIf="showMore && perguntas.length >= 6" (click)="verMais()">Ver Mais ></button>
          </div>
        </div>
        <div *ngIf="perguntas.length === 0" class="placeholder_text">
          <span>Seja o primeiro a perguntar</span>
        </div>
      </div>
    </section>
  </div>
</main>

<footer class="footer">
  <section class="row footer_avaliacoes">
    <section class="col title_footer">
      <span class="footer_text">{{ produtos[0].porque_clicar }}</span>
      <span>“Conectando talentos, otimizando processos, impulsionando vendas”</span>
    </section>
    <section class="col cont_button">
      <button class="button">Saiba mais</button>
    </section>
  </section>
  <app-footer></app-footer>
</footer>
