<app-sidebar-admin></app-sidebar-admin>
<div class="content">
  <div class="admin-home">
    <div class="welcome-message">
      <h5>Seja bem-vindo(a), Geneilton</h5>
      <p>Você está gerenciando a empresa <span class="company-name">Linka Negócios</span></p>
      <p>Seu último acesso foi realizado em: quinta-feira, 28 de janeiro de 2021</p>
    </div>
    <div class="cards">
      <div class="card">
        <h2>Posts</h2>
        <div class="card-content">
          <span class="project-count">58</span>
        </div>
        <button class="primary-button" [routerLink]="['/postsAdmin']">Meus Projetos</button>
      </div>
      <div class="card">
        <h2>Categorias</h2>
        <div class="card-content">
          <span class="project-count">25</span>
        </div>
        <button class="primary-button" [routerLink]="['/postsAdmin']">Meus Projetos</button>
      </div>
    </div>

    <div class="main">
      <div class="dashboard__content">
        <div class="title__content">
          <div class="text">
            <span>
              <strong>
                Crescimento de visitantes
              </strong>
            </span>
            <span>
              Informações Gerais
            </span>
          </div>
          <div>
            <div class="toggle-button" (click)="toggleButton()">
              <div #buttonMes class="mes active"><span>Mês</span></div>
              <div #buttonAno class="ano"><span>Ano</span></div>
            </div>
          </div>
        </div>
        <div class="dashboard">
          <app-dashboard></app-dashboard>
        </div>
      </div>
      <div class="last-posts">
        <div class="title__content">
          <span class="title"><strong>Últimos posts</strong></span>
        </div>
        <div class="content__text">
          <div class="text__content">
            <span class="title"><strong>The Power of Dream</strong></span>
            <span class="text">21 June 2024</span>
          </div>
          <div class="text__content">
            <span class="title"><strong>Emotional Healing</strong></span>
            <span class="text">23 June 2024</span>
          </div>
          <div class="text__content">
            <span class="title"><strong>Works vs School</strong></span>
            <span class="text">22 June 2024</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>