.content {
    margin-left: 250px;
    padding: 20px;
    flex-grow: 1;
    background-color: #f7f7f7;
    min-height: 100vh;
}

.admin-home {
  color: #333;
  background-color: #f5f5f5;
  min-height: 100vh;
  padding: 2rem;
}

.welcome-message {
  font-family: 'Cosen', sans-serif;
  text-align: center;
  margin-bottom: 2rem;
}

.welcome-message h5 {
  color: #B22828;
  margin: 0;
  font-weight: 700;
}

.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 1rem;
  padding: 2rem;
  width: 300px;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card h2 {
  color: #B22828;
  margin-bottom: 1rem;
}

.card button {
  background-color: #B22828;
  color: #ffffff;
  border: none;
  padding: 0.5rem 2rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.card button:hover {
  background-color: #a02020;
}
