<app-sidebar-admin></app-sidebar-admin>
<div class="content">
  <div class="admin-home">
    <div class="welcome-message">
      <h5>Seja bem-vindo(a), <span style="text-transform: capitalize;">{{this.nome}}</span></h5>
      <p>Você está gerenciando a empresa <span class="company-name"><strong>Linka Negócios</strong>.</span></p>
    </div>
    <div class="cards">
      <div class="card">
        @if(!this.spinnerPost){
        <h2>Posts</h2>
        <div class="card-content">

          <strong><span class="project-count">{{this.numberOfPosts}}</span></strong>

        </div>
        <button class="primary-button" [routerLink]="['/postsAdmin']">Meus Projetos</button>
        }@else {
        <app-spinner></app-spinner>
        }
      </div>
      <div class="card">
        @if(!this.spinnerCategoria){
        <h2>Categorias</h2>
        <div class="card-content">
          <strong><span class="project-count">{{this.numberOfCategorias}}</span></strong>
        </div>
        <button class="primary-button" [routerLink]="['/postsAdmin']">Meus Projetos</button>
        }@else {
        <app-spinner></app-spinner>
        }
      </div>
    </div>

    <div class="main">
      <div class="dashboard__content">
        <div class="title__content">
          <div class="text">
            <span>
              <strong>
                Crescimento de visitantes
              </strong>
            </span>
            <span>
              Informações Gerais
            </span>
          </div>
          <div>
            <div class="toggle-button" (click)="toggleButton()">
              <div #buttonMes class="mes active"><span>Mês</span></div>
              <div #buttonAno class="ano"><span>Ano</span></div>
            </div>
          </div>
        </div>
        <div class="dashboard">
          <app-dashboard></app-dashboard>
        </div>
      </div>
      <div class="last-posts">
        <div class="title__content">
          <span class="title"><strong>Últimos posts</strong></span>
        </div>
        <div class="content__text" *ngFor="let title of this.lastTitles">
          <div class="text__content">
            <span class="title"><strong>{{title.titulo | textEllipsis:25}}</strong></span>
            <span class="text">{{title.criado_em}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>