.content {
  margin-left: 250px;
  padding: 20px;
  flex-grow: 1;
  background-color: #f5f5f5;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.admin-home {
  color: #333;
  background-color: #f5f5f5;
  padding: 2rem;
  width: 100%;
  max-width: 1200px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.welcome-message {
  font-family: 'Cosen', sans-serif;
  text-align: center;
  // margin-bottom: 2rem;
}

.welcome-message h5 {
  color: #B22828;
  margin: 0;
  font-weight: 700;
}

.cards {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card {
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 1rem;
  padding: 2rem;
  width: 300px;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card h2 {
  color: #B22828;
  margin-bottom: 1rem;
}

.card button {
  background-color: #B22828;
  color: #ffffff;
  border: none;
  padding: 0.5rem 2rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.card button:hover {
  background-color: #a02020;
}

.main {
  display: flex;
  height: 55%;
  gap: 20px;

  .dashboard__content {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .dashboard {
      width: 95%;
      height: 100%;
    }

    .title__content {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 20px;

      .text {
        display: flex;
        flex-direction: column;
        gap: 10px;
      }

      .toggle-button {
        background: rgb(146, 146, 146);
        border-radius: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 300px;
        gap: 10px;
        padding: 5px;
        cursor: pointer;

        .mes,
        .ano {
          border-radius: 30px 30px;
          padding: 10px;
          width: 40%;
          display: flex;
          justify-content: center;
          font-size: 1em;
          color: var(--quartenary-color);
          transition: all .1s ease;
        }

        .mes.active,
        .ano.active {
          background: var(--secondary-color);
        }
      }
    }
  }

  .last-posts {
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 10px 0;

    .title__content {
      border-radius: 30px;
      background: var(--secondary-color-light);
      padding: 10px 30px;
      display: flex;
      justify-content: center;

      .title {}
    }

    .content__text {
      display: flex;
      flex-direction: column;
      gap: 20px;

      .text__content {
        display: flex;
        flex-direction: column;
      }
    }
  }
}

@media (max-width: 1250px) {
  .main {
    flex-direction: column;

    .dashboard__content {
      width: 100%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;

      .dashboard {
        width: 95%;
        height: 100%;
      }

      .title__content {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }

    .last-posts {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      gap: 30px;
      padding: 10px 0;

      .title__content {
        border-radius: 30px;
        background: var(--secondary-color-light);
        padding: 10px 30px;
        display: flex;
        justify-content: center;

        .title {}
      }

      .content__text {
        display: flex;
        flex-direction: row;
        gap: 20px;

        .text__content {
          display: flex;
          flex-direction: column;
        }
      }
    }
  }
}

@media (max-width: 1052px) {
  .content {
    padding: 20px;
  }

  .admin-home {
    padding: 0;
  }
}

@media (max-width: 768px) {
  .content {
    margin-left: 0;
    margin-top: 70px;
    flex-grow: 1;
    padding: 10px;
  }
}

@media (max-width: 570px) {
  .content {
    min-height: 100vh;
    height: 140vh;
  }

  .main {
    flex-direction: column;
    background: #f5f5f5;



    .dashboard__content {
      width: 100%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      min-height: 100%;

      .dashboard {
        width: 95%;
        height: 100%;
      }

      .title__content {
        padding: 20px;
        width: 100%;
        display: flex;
        flex-direction: column;

        .text {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 10px;
        }

        .toggle-button {
          background: rgb(146, 146, 146);
          border-radius: 30px;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 300px;
          gap: 10px;
          padding: 5px;
          cursor: pointer;

          .mes,
          .ano {
            border-radius: 30px 30px;
            padding: 10px;
            width: 40%;
            display: flex;
            justify-content: center;
            font-size: 1em;
            color: var(--quartenary-color);
            transition: all .1s ease;
          }

          .mes.active,
          .ano.active {
            background: var(--secondary-color);
          }
        }
      }
    }

    .last-posts {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 30px;
      padding: 10px 0;
      background: #f5f5f5;
      padding: 20px 0;


      .title__content {
        border-radius: 30px;
        background: var(--secondary-color-light);
        padding: 10px 30px;
        display: flex;
        justify-content: center;

        .title {}
      }

      .content__text {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .text__content {
          display: flex;
          flex-direction: row;
          gap: 20px;
        }
      }
    }
  }
}