.contact-section {
  text-align: center;
  margin-top: 20px;
  padding: 20px;
  max-height: 90vh;
  overflow-y: auto;
}

.contact-title {
  font-size: 24px;
  color: #b22828;
}

.contact-subtitle {
  font-size: 16px;
  color: #2a2a2a;
  margin-bottom: 20px;
}

.contact-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
}

.contact-form form {
  display: flex;
  flex-direction: column;
}

.contact-form label {
  font-size: 16px;
  margin-bottom: 5px;
  color: #333;
  text-align: left;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form input[type="tel"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.contact-form button {
  background-color: #b22828;
  color: white;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.contact-form button:hover {
  background-color: #8c1f1f;
}

.header-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  border-radius: 8px;
  padding: 10px;
  gap: 10%;
  margin-top: 10px;

  p.contact-subtitle {
    margin: 0;
  }
}

.close{
 position: absolute;
 right: 25px;
 top: 25px;   

 font-size: 2em;
 cursor: pointer;
}