<div class="page-wrapper">
    <header class="header">
        <app-sidebar-cliente></app-sidebar-cliente>
    </header>

    <main class="container">
        <section class="header-title">
            <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit…</p>
        </section>

        <section class="cont">
            <app-servicos-carousel [items]="servicos"></app-servicos-carousel>
        </section>

        <section class="cont_avalicoes">
            <section class="row header_avaliacoes">
                <section class="col">
                    <span class="title">Testemunhos</span>
                </section>
                <section class="col">
                    <span class="text">
                        Mais social prof com testemunhos de clientes ou reviews do produto/serviços prestados
                    </span>
                </section>
            </section>
            <section class="row main_avaliacoes">
                @if(this.avaliacoes.length){
                <section class="col avaliacao" *ngFor="let avaliacao of this.avaliacoes">
                    <section class="row cont">
                        <section class="col rating" [innerHTML]="avaliacao.avaliacao"></section>
                        <section class="col content">
                            “{{avaliacao.conteudo}}”
                        </section>
                        <section class="cont_user">
                            <section class="col user-avatar">
                                <img src="images/user.png" alt="Avatar da pessoa">
                            </section>
                            <section class="col user-info">
                                <span class="user-name">{{avaliacao.user_name}}</span>
                                <span>{{avaliacao.profissao}}</span>
                            </section>
                        </section>
                    </section>
                </section>
                }@else {
                <section *ngIf="this.load_spinner">
                    <app-spinner></app-spinner>
                </section>
                <section *ngIf="!this.load_spinner" class="no-comments-message">
                    <span>Seja o primeira a testemunhar...</span>
                </section>
                }
            </section>
        </section>
        <section class="col button_avaliacoes cont_button">
            <button *ngIf="this.avaliacoes.length > 3" class="button" (click)="this.openModal()">Ver mais</button>
            <button class="button" (click)="this.openModalForm()">Comentar</button>
        </section>
    </main>

    <footer class="footer">
        <section class="row footer_avaliacoes">
            <section class="col title_footer">
                <span class="footer_text">Porque que a pessoa deve clicar</span>
                <span>“Conectando talentos, otimizando processos, impulsionando vendas”</span>
            </section>
            <section class="col cont_button">
                <button class="button">Saiba mais</button>
            </section>
        </section>
        <app-footer></app-footer>
    </footer>
</div>


<div class="modal" *ngIf="isModalOpen">
    <div class="modal-content">
        <form class="form" [formGroup]="comentariosForm" (submit)="submitApplication()">
            <div class="title">
                <div class="title_header">
                    <img src="images/message.png" alt="">
                    <span>Deixe um comentário</span>
                </div>
                <div class="rating" (mouseleave)="reset()">
                    <div class="cont_avaliacao">
                        <span *ngFor="let star of stars; let i = index" (click)="rate(i + 1)" (mouseover)="hover(i + 1)"
                            [ngClass]="{'filled': i < rating || i < hoverState}">
                            &#9733;
                        </span>
                    </div>
                    <div>
                        <span #messageRating class="message_rating">Lembre-se de avaliar</span>
                    </div>
                </div>
            </div>
            <div class="container_input grande">
                <label for="conteudo">Conteúdo<span>*</span></label>
                <textarea id="conteudo" formControlName="conteudo" placeholder="Digite o conteudo..." required
                    maxlength="200"></textarea>
                <div class="error-message"
                    *ngIf="comentariosForm.get('conteudo')!.invalid && (comentariosForm.get('conteudo')!.dirty || comentariosForm.get('conteudo')!.touched)">
                    {{ getErrorMessage('conteudo') }}
                </div>
            </div>

            <div class="container_input grande">
                <label for="email">Email <span>*</span></label>
                <input id="email" type="email" formControlName="email" placeholder="Digite o seu email..." required />
                <div class="error-message"
                    *ngIf="comentariosForm.get('email')!.invalid && (comentariosForm.get('email')!.dirty || comentariosForm.get('email')!.touched)">
                    {{ getErrorMessage('email') }}
                </div>
            </div>
            <div class="container_input grande">
                <label for="nome">Nome<span>*</span></label>
                <input id="nome" type="text" formControlName="nome" placeholder="Digite o seu nome..." required
                    maxlength="50" />
                <div class="error-message"
                    *ngIf="comentariosForm.get('nome')!.invalid && (comentariosForm.get('nome')!.dirty || comentariosForm.get('nome')!.touched)">
                    {{ getErrorMessage('nome') }}
                </div>
            </div>
            <div class="inputs_ident">
                <div class="container_input">
                    <label for="profissao">Profissão<span>*</span></label>
                    <input id="profissao" type="text" formControlName="profissao"
                        placeholder="Digite a sua profissão..." required maxlength="50">
                    <div class="error-message"
                        *ngIf="comentariosForm.get('profissao')!.invalid && (comentariosForm.get('profissao')!.dirty || comentariosForm.get('profissao')!.touched)">
                        {{ getErrorMessage('profissao') }}
                    </div>
                </div>
                <div class="container_input">
                    <label for="empresa">Empresa<span>*</span></label>
                    <input id="empresa" type="text" formControlName="empresa" placeholder="Digite a empresa..." required
                        maxlength="50">
                    <div class="error-message"
                        *ngIf="comentariosForm.get('empresa')!.invalid && (comentariosForm.get('empresa')!.dirty || comentariosForm.get('empresa')!.touched)">
                        {{ getErrorMessage('empresa') }}
                    </div>
                </div>
            </div>
            <div class="buttons_form">
                <button type="submit" class="primary">publicar</button>
                <button type="button" class="primary close" (click)="this.closeModalForm()">Fechar</button>
            </div>
        </form>

    </div>
</div>