* {
  font-family: "Sora", sans-serif;
}

.content {
  margin-left: 250px;
  padding: 40px 20px 20px 20px;
  flex-grow: 1;
  background-color: #f5f5f5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.casos-list-container {
  width: 100%;
  max-width: 1000px;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
  gap: 10px;
}

.titulo {
  font-size: 45px;
  color: #b22828;
  margin-bottom: 20px;
  font-family: "Cosen", sans-serif;
  font-weight: 600;
  text-align: center;
}

.casos-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.casos-item {
  border: 1px solid #ccc;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  width: 48%;
  max-width: 500px;
  box-sizing: border-box;
  word-wrap: break-word;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.cont_img {
  width: 100%;
  height: 40%;
}

.cont_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.casos-item h5 {
  color: var(--secondary-color);
  font-weight: 500;
}

.card-actions {
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.card-actions a {
  cursor: pointer;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-actions a.edit {
  background: green;
}

.card-actions a.delete {
  background: red;
}

.card-actions a:hover img {
  transform: translateY(-3px);
}

.card-actions img {
  width: 50%;
  height: 50%;
  object-fit: contain;
  transition: all 0.4s ease;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  width: 100%;
  max-width: 500px;
  max-height: 90%;
  overflow: auto;
}

.header-editar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f8f8f8;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
}

.titulo-editar {
  margin: 0;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.2;
  color: #a32020;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.titulo-editar::before {
  content: "\1F4DD";
  font-size: 1.5rem;
  margin-right: 10px;
}

.close {
  color: #000000;
  font-size: 45px;
  font-weight: bold;
  cursor: pointer;
  background: #f8f8f8;
  margin-left: auto;
  margin-right: 10px;
  float: right;
}

.close:hover,
.close:focus {
  color: rgb(150, 150, 150);
  text-decoration: none;
  cursor: pointer;
}

.caso-form-container {
  margin-top: 20px;
}

.caso-form-container h4 {
  color: #a02020;
  margin-bottom: 20px;
  font-size: 22px;
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.form-group input:focus,
.form-group textarea:focus {
  border-color: #a02020;
  outline: none;
  box-shadow: 0 0 5px rgba(160, 32, 32, 0.3);
}

button {
  background-color: #a02020;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  text-align: center;
  margin-bottom: 20px;
}

button:hover {
  background-color: #8b0000;
}

button[disabled] {
  background-color: #ccc;
  cursor: not-allowed;
}

.container_fab {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 1000;
  .button_fab {
    background: var(--secondary-color);
    border-radius: 50%;
    transition: all 0.4s ease;
    animation: pulse 1.5s infinite;
    width: 64px;
    height: 64px;

    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      transform: translateY(-5px);
    }
  }
}

.error {
  color: red;
  font-size: 0.9em;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

@media (max-width: 1100px) {
  .casos-list {
    justify-content: center;
    flex-direction: column;
    gap: 30px;
  }

  .casos-item {
    width: 680px !important;
  }

  .card-actions {
    height: 5% !important;
    width: 100%;
  }

  .card-actions img {
    width: 50%;
    height: 50%;
    object-fit: none !important;
  }
}

@media (max-width: 768px) {
  .content {
    margin-left: 0;
    padding-top: 130px;
  }

  .casos-list-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .casos-list-container h4 {
    margin-right: 20px;
  }

  .casos-item {
    width: 100%;
    max-width: 450px;
  }

  .casos-list {
    flex-direction: column;
    gap: 10px;
    max-width: 450px;
  }
}

@media (max-width: 500px) {
  .casos-list-container {
    justify-content: center;
    align-items: flex-start;
    width: 100%;
  }

  .header {
    flex-direction: column;
    text-align: center;
  }

  .casos-item {
    width: 100%;
    max-width: 340px;
  }

  .casos-list {
    flex-direction: column;
    gap: 10px;
    max-width: 340px;
  }
}

@media (max-width: 410px) {
  .casos-item {
    min-width: 360px;
  }
}
