@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Sora", sans-serif;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header,
.footer {
  flex-shrink: 0;
}

.about-container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  flex: 1;
}

.about-header {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 20px 0;
  border-bottom: 2px solid #B22828;
  margin-bottom: 20px;
}

.about-header img {
  width: 50px;
  height: 50px;
}

.about-header h1 {
  font-size: 2.5em;
  color: #B22828;
}

.buttons {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.scroll-button {
  padding: 10px 20px;
  border: none;
  background-color: #B22828;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.scroll-button:hover {
  background-color: #8e1f1f;
}

.about-sections {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.about-sections section {
  flex: 1;
  min-width: 300px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about-sections h2 {
  color: #B22828;
  font-size: 1.5em;
  margin-bottom: 10px;
}

.about-sections p {
  line-height: 1.6;
  color: #333;
}


@media (max-width: 768px) {
  .about-header {
    flex-direction: column;
    text-align: center;
  }

  .about-header h1 {
    font-size: 2em;
  }

  .buttons {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .scroll-button {
    padding: 8px 16px;
    margin-top: 10px;
    font-size: 0.9em;
    min-width: 100px;
    flex-basis: 45%;
  }

  .about-sections {
    flex-direction: column;
  }
}