<app-sidebar-cliente></app-sidebar-cliente>
<div class="about-container">
    <div class="about-header">
      <img src="https://a.imagem.app/3JrO6Y.png" alt="Ícone Sobre nós">
      <h1>Sobre nós</h1>
    </div>
    <div class="about-content">
      <div class="buttons">
        <button class="scroll-button" data-target="#history">História</button>
        <button class="scroll-button" data-target="#mission">Missão</button>
        <button class="scroll-button" data-target="#vision">Visão</button>
        <button class="scroll-button" data-target="#values">Valores</button>
      </div>
      <div class="about-sections">
        <section id="history">
          <h2>História</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac ex nec justo varius dictum.</p>
        </section>
        <section id="mission">
          <h2>Missão</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac ex nec justo varius dictum.</p>
        </section>
        <section id="vision">
          <h2>Visão</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac ex nec justo varius dictum.</p>
        </section>
        <section id="values">
          <h2>Valores</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac ex nec justo varius dictum.</p>
        </section>
      </div>
    </div>
  </div>
  <app-footer></app-footer>