.navbar {
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 5px 20px;
 background-color: #B22828;
 width: 100%;
}

.logo img {
 height: 50px;
 cursor: pointer;
}

.nav-links {
 list-style: none;
 display: flex;
}

.nav-links li {
 margin-left: 20px;
}

.nav-links a {
 color: white;
 text-decoration: none;
 font-size: 16px;
 display: flex;
 align-items: center;
}

.nav-links a img {
 margin-right: 8px;
 height: 20px;
}