@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Sora", sans-serif;
}

body {
    display: flex;
}

.sidebar {
    width: 250px;
    background-color: #B22828;
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
}

.logo-container {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.logo {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.site-name {
    font-size: 1.5rem;
    font-weight: 600;
}

.menu {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.menu a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    font-size: 1rem;
    transition: background-color 0.3s;
}

.menu a:hover {
    background-color: #A02020;
    border-radius: 5px;
}



@media (max-width: 768px) {
    .hamburger {
        display: none;
        font-size: 35px;
        background: none;
        border: none;
        color: rgb(255, 255, 255);
        position: fixed;
        top: 10px;
        right: 20px;
        z-index: 1000;
    }
    .sidebar {
        width: 100%;
        height: auto;
        flex-direction: column;
        position: fixed;
        left: 0;
        transition: all 0.3s;
        background-color: #B22828; /* Cor de fundo do menu */
    }

    .logo-container {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1001; /* Garante que a logo fique acima do menu */
        background-color: #B22828; /* Cor de fundo da logo */
        padding: 10px;
        width: 100%;
    }

    .menu {
        display: none;
    }

    .menu a {
        display: block;
        margin: 10px 20px;
    }

    .sidebar.active .menu {
        display: block; /* Mostra o menu quando estiver ativo */
    }

    .hamburger {
        display: block;
    }

    /* Adaptação para o conteúdo principal */
    .content {
        margin-top: 60px; /* Espaço para a logo e o botão hambúrguer */
    }
}
