<div class="sidebar" [class.active]="isMenuOpen">
    <div class="logo-container" [routerLink]="['/']">
        <img src="https://a.imagem.app/3qh0eJ.png" alt="Logo do Site" class="logo">
        <span class="site-name">Linka Negócios</span>
    </div>
    <nav class="menu">
        <a href="#dashboard">Dashboard</a>
        <a href="/creat-post">Posts</a>
        <a href="/postsAdmin">Categorias</a>
        <a href="#produtos">Produtos</a>
    </nav>
</div>
<button class="hamburger" (click)="toggleMenu()">☰</button>
