<div class="sidebar" [ngClass]="{'active': isMenuOpen}">
  <div class="logo-container" [routerLink]="['/admin-home']">
    <img src="https://a.imagem.app/3qh0eJ.png" alt="Logo do Site" class="logo">
    <span class="site-name">Linka Negócios</span>
  </div>
  <nav class="menu">
    <a [routerLink]="['/admin-home']" [class.active]="this.activeUrl === '/admin-home'" class="teste">Home</a>
    <div class="menu-item">
      <a (click)="togglePostsSubMenu()"
        [class.active]="this.activeUrl === '/postsAdmin' || this.activeUrl === '/creat-post'">Posts</a>
      <div class="submenu" [ngClass]="{'active': isPostsSubMenuOpen}">
        <a [routerLink]="['/postsAdmin']">Categorias</a>
        <a [routerLink]="['/creat-post']">Criar Post</a>
      </div>
    </div>

    <div class="menu-item">
      <a (click)="toggleProductsSubMenu()"
        [class.active]="this.activeUrl === '/listagem-produtos' || this.activeUrl === '/creat-produtos'">Produtos</a>
      <div class="submenu" [ngClass]="{'active': isProductsSubMenuOpen}">
        <a [routerLink]="['/listagem-produtos']">Produtos</a>
        <a [routerLink]="['/creat-produtos']">Criar produto</a>
      </div>
    </div>
    <a [routerLink]="['/creat-servicos']" [class.active]="this.activeUrl === '/creat-servicos'">Servicos</a>
    <a [routerLink]="['/motivos']" [class.active]="this.activeUrl === '/motivos'">Motivos</a>
    <a [routerLink]="['/comentarios-admin']" [class.active]="this.activeUrl === '/comentarios-admin'">Comentários</a>
    <a [routerLink]="['/perguntas-faq']" [class.active]="this.activeUrl === '/perguntas-faq'">Perguntas</a>
    <a [routerLink]="['/listar-contatos']" [class.active]="this.activeUrl === '/listar-contatos'">Atendimento</a>
    <a [routerLink]="['/perfil']" [class.active]="this.activeUrl === '/perfil'">Perfil</a>
  </nav>
  <a class="logout-button" [routerLink]="['/login']" (click)="logout()">
    <img src="https://a.imagem.app/3ckYES.png" alt="Sair" class="logout-icon">
    Sair
  </a>
</div>
<button class="hamburger" (click)="toggleMenu()">☰</button>