.reasons-section {
    padding: 10px 60px 60px 20px;
    background: linear-gradient(to bottom, #ffffff, #f0f0f0);
    text-align: center;
}

.reasons-title{
    font-size: 32px;
    color: #B22828;
    margin-bottom: 20px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 1px;
    font-family: 'Cosen', sans-serif;
    position: relative;
    padding-bottom: 10px;
    margin: 40px;
}

.reasons-title::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 80px;
    height: 2px;
    background-color: #B22828;
}

.reasons-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
}

.reason-card {
    background: #fff;
    border: 2px solid transparent;
    border-radius: 15px;
    padding: 30px;
    width: 280px;
    height: 400px;
    text-align: center;
    transition: transform 0.4s ease, box-shadow 0.4s ease, border 0.4s ease;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 0;
    overflow: hidden;
}

.reason-card:hover {
    transform: scale(1.05);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.reason-card::before {
    content: '';
    position: absolute;
    bottom: 48%;
    left: 0;
    width: 200%;
    height: 100%;
    background-color: #B22828;
    z-index: 0;
    transition: all 0.4s ease;
    clip-path: polygon(0 0, 100% 0, 0 100%);
}

.reason-card img {
    width: 90%;
    height: 150px;
    object-fit: cover;
    border-radius: 5%;
    margin-bottom: 15px;
    z-index: 1;
    position: relative;
}

.reason-card h3 {
    font-size: 1.5em;
    color: #B22828;
    font-weight: 500;
    margin-bottom: 10px;
    font-family: 'Cosen', sans-serif;
    z-index: 1;
    position: relative;
    line-height: 1.2;
}

.reason-card p {
    font-size: 1em;
    color: #221E1F;
    font-family: "Sora", sans-serif;
    line-height: 1;
    z-index: 1;
    position: relative;
    text-align: justify;
}

@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.reason-card {
    opacity: 0;
    animation: slideUp 0.6s ease forwards;
    animation-delay: calc(0.1s * var(--order));
}

@media (max-width: 768px) {
    .reasons-section {
        padding: 0px 25px 25px 20px;
        background: linear-gradient(to bottom, #ffffff, #f0f0f0);
        text-align: center;
    }

    .reasons-title{
        font-size: 24px;
        color: #B22828;
        font-weight: 600;
        letter-spacing: 0.5px;
        font-family: 'Cosen', sans-serif;
        margin: 20px;
    }

    .reasons-cards {
        flex-direction: column;
        align-items: center;
    }

    .reason-card {
        width: 90%;
        height: 400px;
    }
}