<div class="page-wrapper">
    <header class="header">
        <app-sidebar-cliente></app-sidebar-cliente>
    </header>

    <main class="container">
        <div class="row header_main">
            <div class="col">
                <span class="title">
                    Últimas dicas e atualizações em
                    <span>
                        nosso Insights
                    </span>
                </span>
            </div>
            <div class="col">
                <span class="text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus hendrerit suscipit egestas. Nunc
                    eget congue ante.
                    Vivamus ut sapien et ex volutpat tincidunt eget at felis vivamus hendrerit.
                </span>
            </div>
        </div>

        <div class="row cont_post">
            <div class="col post" *ngFor="let produto of produtos">
                <div class="col header">
                    <img [src]="produto.imagem_placeholder" alt="Imagem do Produto">
                  </div>
                  
                <div class="col content">
                    <span class="title_post">{{ produto.titulo_breve }}</span>
                    <div class="conteudo">{{ produto.detalhes_problema_beneficios }}</div>
                    <div>
                        <a class="read-more" [routerLink]="['/downloads', produto.id]">read
                            more...</a>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer class="footer">
        <app-footer></app-footer>
    </footer>
</div>
