<header class="header"><app-sidebar-cliente></app-sidebar-cliente></header>

<div class="container" @fadeIn>
  <div class="content">
    <img
      src="https://a.imagem.app/3qsdiX.png"
      alt="3qsdiX.png"
      class="content__image"
    />
    <div class="content__info">
      <h1 class="content__title">Título focado no problema que você resolve</h1>
      <p class="content__description">
        Na <strong>LINKA NEGÓCIOS</strong>, acreditamos no poder da
        <strong>conexão</strong>. Nossa missão é otimizar
        <strong>processos</strong> e <strong>impulsionar </strong>
        <strong>vendas</strong> através de soluções inovadoras e personalizadas.
        Com uma equipe de <strong>especialistas</strong> dedicados, estamos
        prontos para ajudar sua empresa a alcançar novos patamares de
        <strong>sucesso.</strong>
      </p>
      <div class="content__cta">
        <button
          class="content__cta-button scroll-button"
          data-target=".contact-form"
        >
          CTA
        </button>
        <p class="content__cta-quote">
          “Conectando talentos, otimizando processos, impulsionando vendas”
        </p>
      </div>
    </div>
  </div>
  <div class="image-container">
    <img
      src="https://a.imagem.app/3cX9ql.png"
      alt="3qsZom.png"
      class="image-container__image"
    />
  </div>
</div>

<app-slides-show></app-slides-show>

<app-motivos-home></app-motivos-home>

<app-icone-whatsapp></app-icone-whatsapp>

<footer class="footer">
  <app-footer></app-footer>
</footer>
