#myChart {
    display: block;
    width: 100% !important;
    height: 100% !important;
    min-height: 400px;
}

.container {
    width: 100%;
    height: 100%;
    min-width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}