.content {
    margin-left: 250px;
    padding: 20px;
    flex-grow: 1;
    background-color: #f5f5f5;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.servico-form-container {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.servico-list-container ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.servico-list-container li {
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    width: 48%;
    max-width: 500px;
    box-sizing: border-box;
    word-wrap: break-word;
}

.servico-list-container img {
    max-width: 100px;
    height: auto;
    display: block;
    margin-top: 10px;
}

button {
    background-color: #A02020;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
}

button:hover {
    background-color: #8B0000;
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    width: 500px;
}

.close {
    float: right;
    font-size: 20px;
    cursor: pointer;
}

.servico-form-container {
    margin-top: 20px;
}

.titulo{
    color: #A02020;
    font-weight: 500;
}

.servico-form-container h4 {
    color: #A02020;
    margin-bottom: 20px;
    font-size: 22px;
    text-align: center;
}

.card-actions a {
    display: inline-block;
    margin-left: 5px;
    cursor: pointer;
}

.card-actions img {
    width: 20px; 
    height: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.form-group input:focus,
.form-group textarea:focus {
    border-color: #A02020;
    outline: none;
    box-shadow: 0 0 5px rgba(160, 32, 32, 0.3);
}

button {
    text-align: center;
    background-color: #A02020;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #d22d2d;
}

button[disabled] {
    background-color: #ccc;
    cursor: not-allowed;
}

@media (max-width: 768px) {
    .content {
        margin-left: 0;
        padding-top: 90px;
    }

    .navbar {
        font-size: 18px;
    }

    .servico-list-container li {
        width: 100%;
        max-width: 300px;
    }

    .servico-list-container ul {
        flex-direction: column;
        gap: 10px; 
    }

    .servico-list-container li {
        width: 100%;
    }
}
