.header,
.footer {
    flex-shrink: 0;
    margin: 0;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    flex: 1;
    padding: 50px 0 0 0;
    width: 100%;
    margin: auto;
    gap: 50px;
}

.header_download {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: 100%;
    max-width: 1500px;

    .header_download_title,
    .header_img {
        width: 40%;
        height: 100%;
    }

    .header_download_title {
        flex-direction: column;
        text-align: left;
        justify-content: space-evenly;
        gap: 30px;
        align-content: space-around;

        .cont_list,
        .header-title,
        .header_download .cont_button {
            flex-direction: column;
            justify-content: flex-start;
            gap: 20px;
        }

        .header-title .title {
            font-size: 2em;
        }

        .cont_list {
            padding-left: 20px;
        }

        .header_download .cont_button .button {
            width: 100%;
        }

        .cont_button {
            padding: 0;

            .button {
                width: 100%;
                border: 1px solid var(--secondary-color);
                background: transparent;
                color: var(--secondary-color);
                padding: 15px;
                font-size: 1em;
            }
        }
    }

    .header_img {

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 10px;
        }

    }
}

.title {
    font-size: 1.5em;
    font-family: 'Cosen', sans-serif;
    font-weight: bold;
    color: var(--secondary-color);
    margin-bottom: 10px;
}

.container_cards {
    background: var(--light-dark-color);
    width: 100%;
    padding: 50px;
}

.header-card {
    margin-bottom: 40px;
    text-align: center;

    span {
        font-size: 2em;
    }
}

.cont_card {
    justify-content: space-evenly;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin: 20px 10px;

    text-align: center;
    max-width: 340px;

    .title {
        margin: 0px
    }
}

.faq {
    background: var(--light-dark-color);
    width: 100%;
    padding: 30px 0;
}

.cont_faq {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;


    .col {
        width: 100%;
        max-width: 800px;
        margin-bottom: 20px;
        flex-direction: column;
    }

    .header_faq {
        gap: 20px;
    }

    .title {
        font-size: 2.3em;
        font-weight: bold;
        display: block;
        text-align: center;
        margin-bottom: 30px;
    }

    .text {
        font-size: 1em;
        text-align: center;
        display: block;
        margin-bottom: 30px;
    }

    .pergunta {
        border-top: 1px solid var(--primary-color);
        transition: background-color 0.3s ease;
        padding: 10px;

        &:last-child {
            border-bottom: 1px solid var(--primary-color);
        }

        &.active .header_pergunta {
            background-color: var(--light-dark-color);
            margin-bottom: 10px;
        }

        .header_pergunta {
            display: flex;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;
            padding: 10px;


            &:hover {
                background: var(--light-dark-color);
            }

            span {
                font-size: 1.2em;
            }

            .arrow {
                transition: transform 0.3s ease;
            }
        }
    }

    .resposta {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s ease, padding 0.5s ease;
        padding: 0 10px;
    }

    .pergunta.active .arrow {
        transform: rotate(180deg);
    }
}

.cont_button {
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
}

.button {
    color: var(--quartenary-color);
    background: var(--secondary-color);
    font-size: 1.1em;
    padding: 10px 30px;
    border-radius: 3px;
    border: none;
}

.cont_avalicoes {
    flex-direction: column;
    max-width: 1200px;
}

.header_avaliacoes {
    flex-direction: column;
    gap: 10px;
    margin-bottom: 50px;
    text-align: center;
}

.header_avaliacoes .title {
    font-size: 2em;
}

.main_avaliacoes {
    gap: 30px;
    align-items: center;
    margin-bottom: 10px;
    justify-content: center;
}

.avaliacao {
    width: 30%;
    max-width: 400px;
}

.avaliacao .row {
    flex-direction: column;
    gap: 5px;
    align-items: flex-start;
}

.user-info {
    flex-direction: column;
}

.footer_avaliacoes {
    height: 250px;
    background: var(--dark-color);
    gap: 40px;
}

.footer_avaliacoes,
.title_footer {
    text-align: center;
    flex-direction: column;
    justify-content: center;
    color: var(--quartenary-color);
}

.title_footer .footer_text {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer_avaliacoes .cont_button {
    padding: 0;
}

@media (max-width:1350px) {
    .header_download {
        flex-direction: column;

        .header_download_title,
        .header_img {
            width: 60%;
        }
    }
}

@media (max-width:1000px) {

    .header_download {

        .header_download_title,
        .header_img {
            width: 80%;
        }
    }

    .header_avaliacoes {
        padding: 5px;
        gap: 30px;

        .title {
            font-size: 3em;
        }

        .text {
            font-size: 1.3em;
        }
    }

    .cont_avalicoes {
        .cont_button {
            background: var(--light-dark-color);
            padding: 0;

            .button {
                margin: 30px 0;
            }
        }
    }

    .main_avaliacoes {
        padding: 5px;
        margin-top: 30px;
        flex-direction: column;
        justify-content: flex-start;
        max-height: 670px;
        overflow: hidden;

        .avaliacao {
            width: 100%;
            border: 2px solid var(--secondary-color);
            padding: 20px;
            border-radius: 20px;

            .cont_user {
                flex-direction: row;
                align-items: center;
                margin-top: 10px;

                .user_avatar {
                    width: 30% !important;
                }

                .user-info {
                    width: 70% !important;
                }
            }
        }
    }

    .faq {
        .title {
            line-height: 1.5em;
        }
    }
}

@media (max-width:800px) {
    .header-title {
        .title {
            line-height: 1.1em;
        }
    }

    .container_cards {
        padding: 20px;

        .header-card {
            margin-bottom: 0;
        }

        .title {
            line-height: 1.5em;
        }

        .cont_card {
            flex-direction: column;
            gap: 30px;

            .card {
                background: var(--light-dark-color);
                border-radius: 20px;
                padding: 20px;
                gap: 15px;
                font-size: 1.1em;
                border: 2px solid var(--secondary-color);
            }
        }
    }

    .footer {
        .footer_avaliacoes {
            padding: 10px;
            gap: 20px;
            width: 100%;

            .footer_text {
                line-height: 1.5em;
                font-size: 1.7em;
            }
        }
    }
}

@media (max-width:550px) {


    .header_download {

        .header_download_title,
        .header_img {
            width: 90%;
        }
    }
}