$primary-color: #B22828;
$secondary-color: #F5F5F5;
$text-color: #333;
$modal-bg: rgba(0, 0, 0, 0.5);

.content {
  margin-left: 250px;
  flex-grow: 1;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Arial', sans-serif;
  color: $text-color;

  .page-title {
    background: linear-gradient(135deg, $primary-color, lighten($primary-color, 20%));
    color: #fff;
    padding: 20px 40px;
    border-radius: 10px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 0.5px;

    h1 {
      margin: 0;
      font-size: 2.5rem;
      font-weight: 700;
      line-height: 1.2;
      text-transform: none;
      text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    }
  }

  .profile-card {
    background-color: $secondary-color;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgb(148, 148, 148);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 20px;
    width: 100%;
    max-width: 600px;

    .profile-image {
      width: 120px;
      height: 120px;
      border-radius: 50%;
      object-fit: cover;
    }

    .profile-details {
      display: flex;
      flex-direction: column;
      gap: 10px;
      flex: 1;

      p {
        margin: 0;
        font-size: 1rem;

        strong {
          color: $primary-color;
        }
      }

      button {
        background-color: $primary-color;
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
          background-color: darken($primary-color, 10%);
        }

        &:not(:last-child) {
          margin-bottom: 10px;
        }
      }

      .add-admin-btn {
        display: flex;
        align-items: center;
        gap: 10px;
        /* Espaçamento entre o ícone e o texto */
        background-color: $primary-color;
        color: #fff;
        border: none;
        padding: 12px 20px;
        border-radius: 5px;
        cursor: pointer;
        font-size: 1rem;
        transition: background-color 0.3s;

        .add-admin-icon {
          width: 20px;
          height: 20px;
        }

        &:hover {
          background-color: darken($primary-color, 10%);
        }
      }
    }
  }


}


.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $modal-bg;
  z-index: 1000;

  .modal-content {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
    position: relative;

    h3 {
      margin-bottom: 20px;
      color: $primary-color;
      font-size: 1.5rem;
    }

    .close {
      position: absolute;
      top: 42px;
      right: 30px;
      font-size: 2.5rem;
      cursor: pointer;
      color: $primary-color;
      transition: all .4s easy;

      &:hover {
        color: darken($primary-color, 10%);
        transform: scale(1.1);
      }
    }

    form {
      display: flex;
      flex-direction: column;

      label {
        margin-top: 10px;
        font-size: 1rem;
        color: black;
      }

      input {
        margin-top: 5px;
        padding: 10px;
        border: 1px solid $primary-color;
        border-radius: 5px;
        font-size: 1rem;
      }

      button[type="submit"] {
        background-color: $primary-color;
        color: #fff;
        border: none;
        padding: 10px;
        border-radius: 5px;
        cursor: pointer;
        margin-top: 20px;
        font-size: 1.3em;
        transition: background-color 0.3s;

        &:hover {
          background-color: darken($primary-color, 10%);
        }
      }

      button[type="button"] {
        background-color: #ccc;
        color: $text-color;
        border: none;
        padding: 10px;
        border-radius: 5px;
        cursor: pointer;
        margin-top: 10px;
        transition: background-color 0.3s;
        font-size: 1.3em;

        &:hover {
          background-color: darken(#ccc, 10%);
        }
      }
    }
  }
}

@media (max-width: 950px) {
  .profile-card {
    max-width: 480px !important;
  }
}

@media (max-width: 768px) {
  .content {
    margin: 94px 0 0 0;
    flex-grow: 1;
    height: calc(100vh - 94px);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .profile-card {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .profile-image {
    width: 100px;
    height: 100px;
  }

  .profile-details p {
    font-size: 0.9rem;
  }

  .profile-details button {
    width: 100%;
    margin-bottom: 10px;
  }

  .modal-content {
    width: 90%;
    max-width: 500px;
  }

  .additional-info,
  .activity-section,
  .stats-section,
  .notifications-section {
    padding: 15px;
  }
}

@media (max-width: 480px) {
  .content {
    margin-left: 0;
    flex-grow: 1;
  }

  .page-title {
    max-width: auto !important;
    width: 85% !important;

    h1 {
      font-size: 1em !important;
    }
  }

  .profile-card {
    padding: 15px;
    max-width: auto !important;
    width: 80% !important;
  }

  .profile-image {
    width: 80px;
    height: 80px;
  }

  .profile-details p {
    font-size: 0.8rem;
  }

  .profile-details button {
    padding: 8px;
    font-size: 0.9rem;
  }

  .modal-content {
    padding: 20px;
    width: 95%;
    max-width: 400px;
  }
}