*{
    font-family: 'Sora', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
    color: #333;
}

.content {
    margin-left: 250px;
    flex-grow: 1;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.post-title {
    text-align: center;
    margin: 2rem 0;
}

.post-title h1 {
    font-size: 2.5rem;
    font-weight: 600;
    color: #a32020;
    margin-bottom: 0.5rem;
}

.post-title p {
    font-size: 1rem;
    color: #777;
}

.post-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.post-card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 1rem;
    overflow: hidden;
    transition: transform 0.2s, box-shadow 0.2s;
    width: 300px;
    cursor: pointer;
    text-align: center;
}


.post-card img {
    width: 100%;
    height: auto;
    display: block;
}

.post-card h2 {
    margin: 0;
    padding: 1rem;
    font-weight: 600;
    font-size: 1.25rem;
}

.post-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-actions a {
    display: inline-block;
    margin-left: 5px;
    cursor: pointer;
}

.card-actions img {
    width: 20px; 
    height: 20px;
}

@media (max-width: 600px) {
    .content {
        margin-left: 0;
        margin-top: 100px;
        flex-grow: 1;
        padding: 20px;
    }
    .post-card {
        width: 100%;
        margin: 1rem 0;
    }
}