.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  flex-direction: column;
  gap: 20px;

  .title{
    font-size: 10rem;
    font-weight: bolder;
  }

  .sub-title{
    font-size: 2rem;
    font-weight: bold;
  }

  .button{
    background: var(--secondary-color);
    border-radius: 20px;
    padding: 10px 20px;
    transition: all .4s ease;
    color: white;
    text-decoration: none;
    // font-weight: 800;
    text-transform: uppercase;

    &:hover{
      transform: scale(1.05);
    }
  }
}


@media (max-width: 600px){
  .container{

    .title{
      text-align: center;
      font-size: 6rem;
    }

    span{
      text-align: center;
    }

    .button{
      background: var(--secondary-color);
      border-radius: 20px;
      padding: 10px 20px;
      transition: all .4s ease;
      color: white;
      text-decoration: none;
      // font-weight: 800;
      text-transform: uppercase;

      &:hover{
        transform: scale(1.05);
      }
    }
  }
}
