.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--quartenary-color);
}

.header,
.footer {
  flex-shrink: 0;
}

.container {
  display: flex;
  flex: 1;
  padding: 50px 20px 0px 20px;

  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
}

.header-title p {
  font-size: 2em;
  line-height: 1.5em;
  font-family: "Cosen", sans-serif;
  font-weight: bold;
  width: 70%;
  margin-bottom: 20px;
  text-align: center;
  color: var(--primary-color);
}

.title {
  font-size: 1.5em;
  font-family: "Cosen", sans-serif;
  font-weight: bold;
  color: var(--secondary-color);
  margin-bottom: 10px;
}

.fundo {
  background: #f6f6f6;
  padding: 30px 15px;
}

.cont {
  width: 100%;
  max-width: 1200px;
  margin: auto;

  .header-conteudo,
  .img-conteudo {
    width: 50%;
    padding: 10px;
  }

  .header-conteudo {
    flex-direction: column;
    align-items: center;
    gap: 30px;

    .title {
      font-size: 2em;
    }

    span {
      width: 100%;
      max-width: 440px;
      font-size: 1.4em;
    }
  }

  .img-conteudo {
    overflow: hidden;
    position: relative;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 10px;
    }
  }
}

.cont_card {
  justify-content: space-evenly;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin: 0px 10px;

  text-align: center;
  max-width: 340px;
}

.cont_button {
  justify-content: center;
  flex-direction: column-reverse;
  align-items: center;
  padding-bottom: 40px;
  gap: 20px;
}

.button_avaliacoes {
  .button {
    width: 150px;
    font-family: "Sora", sans-serif;
  }
}

.button {
  color: var(--quartenary-color);
  background: var(--secondary-color);
  font-size: 1.1em;
  padding: 10px 30px;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  transition: all 0.4s ease;

  &:hover {
    transform: scale(1.03);
  }
}

.cont_avalicoes {
  flex-direction: column;
  max-width: 1200px;
  padding: 0px 10px;
}

.header_avaliacoes {
  flex-direction: column;
  margin-bottom: 20px;
  text-align: center;
}

.header_avaliacoes .title {
  font-size: 2em;
}

.main_avaliacoes {
  gap: 30px;
  align-items: center;
  margin-bottom: 10px;
  justify-content: center;

  .no-comments-message {
    margin-top: 20px;

    span {
      font-size: 1em;
      color: var(--secondary-color);
    }
  }
}

.footer_avaliacoes {
  height: 250px;
  background: var(--dark-color);
  gap: 40px;
}

.footer_avaliacoes,
.title_footer {
  text-align: center;
  flex-direction: column;
  justify-content: center;
  color: var(--quartenary-color);
}

.title_footer .footer_text {
  font-size: 1.7em;
  font-weight: bold;
  margin-bottom: 20px;
  font-family: "Sora", sans-serif;
}

.footer_avaliacoes .cont_button {
  padding: 0;
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);

  .modal-content {
    background-color: white;
    padding: 5px;
    border-radius: 20px;
    // width: 100%;
    width: 710px;
    max-height: 90vh;
    box-sizing: border-box;
    overflow-y: auto;

    .form {
      width: 700px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border: 2px solid var(--secondary-color);
      padding: 20px;
      border-radius: 15px;

      .grande {
        width: 100%;
      }

      .title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-bottom: 20px;

        .title_header {
          display: flex;
          align-items: center;
        }

        .rating {
          display: flex;
          cursor: pointer;
        }

        .rating span {
          font-size: 1em;
          font-weight: 400;
          color: #d3d3d3;
        }

        .message_rating {
          font-size: 0.4em !important;
        }

        .cont_avaliacao span {
          font-size: 0.8em;
        }

        .rating span.filled {
          color: #fcd508;
        }
      }

      .grande {
        width: 100%;
      }

      .container_input {
        margin-bottom: 1rem;
        text-align: left;

        label {
          display: block;
          margin-bottom: 0.5rem;
          color: #555;

          span {
            color: var(--secondary-color);
          }
        }

        .input-wrapper {
          position: relative;
        }

        input,
        textarea {
          width: 100%;
          padding: 0.75rem;
          border: 1px solid #ddd;
          border-radius: 4px;
          padding-right: 2.5rem;
          /* Espaço para o ícone */

          &:focus {
            border: 2px solid #b22828;
            outline: none;
          }
        }
      }

      .inputs_ident {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        gap: 8%;

        .container_input {
          width: 46%;
        }
      }

      .buttons_form {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;

        button {
          color: white;
          background: var(--secondary-color);
          border-radius: 15px;
          padding: 10px 30px;
          border: none;
          text-transform: uppercase;
          transition: all 0.4s ease;
          cursor: pointer;
          width: 150px;

          &.close {
            color: var(--secondary-color);
            background: none;
            border: 2px solid var(--secondary-color);
          }

          &:hover {
            transform: scale(1.06);
          }
        }
      }
    }
  }
}

@media (max-width: 1000px) {
  .header_avaliacoes {
    gap: 30px;

    .title {
      font-size: 3em;
    }

    .text {
      font-size: 1.3em;
    }
  }

  .main_avaliacoes {
    margin-top: 30px;
    flex-direction: column;
  }
  .cont_button {
    padding-bottom: 20px;
  }
}

@media (max-width: 950px) {
  .header-title {
    padding: 20px;

    p {
      width: 100%;
      font-size: 1.7em;
    }
  }

  .modal {
    .modal-content {
      padding: 20px 10px;
      width: 700px;

      .form {
        width: 680px;
      }
    }
  }
}

@media (max-width: 700px) {
  .footer_avaliacoes {
    height: 300px;
  }
  .container {
    padding: 50px 10px;
    gap: 10px;
  }

  .header-title {
    padding: 0;

    p {
      text-align: left;
    }
  }

  .footer {
    .footer_avaliacoes {
      padding: 10px;
      width: 100%;

      .footer_text {
        font-size: 1.5em;
      }
    }
  }

  .modal {
    .modal-content {
      padding: 20px 10px;
      width: 520px;

      .form {
        width: 100%;
        max-width: 500px;
        padding: 10px;

        .cont_avaliacao span {
          font-size: 0.8em;
        }
      }
    }
  }
}

@media (max-width: 550px) {
  .form {
    max-width: 340px;

    .buttons_form {
      flex-direction: column;
      gap: 10px;
    }
  }

  .form .title {
    flex-direction: column;
    gap: 20px;
  }
}

.avaliacoes_container {
  width: 100%;
}
