.terms-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: "Sora", sans-serif;
    color: #333;
    line-height: 1.6;
  }
  
  h1 {
    color: #B22828;
    font-size: 2rem;
    margin-bottom: 20px;
    font-weight: 800;
    text-align: center;
    font-family: 'Cosen', sans-serif;
  }
  
  h2 {
    color: #B22828;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 10px;
    font-family: 'Cosen', sans-serif;
  }
  
  p {
    margin-bottom: 15px;
    font-size: 1.1rem;
  }
  
  a {
    color: #B22828;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  @media (max-width: 768px) {
    .terms-container {
      padding: 15px;
    }
  
    h1 {
      font-size: 2rem;
    }
  
    h2 {
      font-size: 1.5rem;
    }
  
    p {
      font-size: 1rem;
    }
  }
  