* {
    // background-color: #f4f4f4;
    color: #333;
}

.content {
    margin-left: 250px;
    flex-grow: 1;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.post-title {
    text-align: center;
    margin: 2rem 0;
}

.post-title h1 {
    font-size: 2.5rem;
    font-weight: 600;
    color: #a32020;
    margin-bottom: 0.5rem;
}

.post-title p {
    font-size: 1rem;
    color: #777;
}

.post-filters {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 1rem;
}

.post-filters label {
    margin-right: 10px;
    font-size: 1rem;
    color: #333;
}

.post-filters select {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    color: #333;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    appearance: none;
}

.post-filters select:focus {
    border-color: #a32020;
    box-shadow: 0 0 8px rgba(163, 32, 32, 0.2);
    outline: none;
}

.post-filters select option {
    padding: 10px;
}

.post-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.post-card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.082);
    margin: 1rem;
    overflow: hidden;
    transition: transform 0.2s, box-shadow 0.2s;
    width: 300px;
    cursor: pointer;
    text-align: center;
    box-shadow: 3px 3px 10px rgb(148, 148, 148);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.post-card img {
    width: 100%;
    height: 40%;
    display: block;
}

.post-card h2 {
    height: 40%;
    margin: 0;
    padding: 1rem;
    font-weight: 600;
    font-size: 1.25rem;
    display: flex;
    align-items: flex-start;
    text-align: left;

    span {
        color: var(--secondary-color);
        margin-right: 10px;
        font-weight: bold;
        width: 20px;
    }
}

.post-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-actions {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;


    a {
        // display: inline-block;
        cursor: pointer;
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        &.edit {
            background: green;
        }

        &.delete {
            background: red;
        }

        &:hover img {
            transform: translateY(-3px);
        }

        img {
            width: 50%;
            height: 50%;
            object-fit: contain;
            transition: all .4s ease;
        }
    }

}



.btn {
    background-color: #a32020;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin: 1rem;
    font-size: 1rem;
    border-radius: 5px;
}

.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    width: 50%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.form-group {
    margin-bottom: 1rem;
}

.form-group label {
    display: block;
    margin-bottom: 0.5rem;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-group select {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    color: #333;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    appearance: none;
}

.form-group select:focus {
    border-color: #a32020;
    box-shadow: 0 0 8px rgba(163, 32, 32, 0.2);
    outline: none;
}

.form-group input[type="file"] {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    color: #333;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.form-group input[type="file"]:focus {
    border-color: #a32020;
    box-shadow: 0 0 8px rgba(163, 32, 32, 0.2);
    outline: none;
}
@media (max-width: 1000px) {
    .modal-content {
        width: 70%;
    }
}

@media (max-width: 768px) {
    .content {
        margin-left: 0;
        margin-top: 100px;
        flex-grow: 1;
        padding: 20px;
    }

    .post-card {
        width: 70%;
        margin: 1rem 0;
    }

    .post-title {
        text-align: center;
        margin: 1rem 0;
    }

    .modal-content {
        width: 90%;
    }
}

@media (max-width: 500px) {
    .content {
        padding: 0 20px;
        margin-top: 70px;
    }

    .post-card {
        width: 100%;
    }
}