/* privacy-policy.component.css */
.privacy-policy {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
  }
  
  .privacy-policy h1 {
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  .privacy-policy h2 {
    font-size: 2em;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .privacy-policy h3{
    font-size: 1.7em;
  }
  
  .privacy-policy p {
    font-size: 1em;
    line-height: 1.5;
  }
  
  .privacy-policy ul {
    list-style-type: disc;
    margin-left: 20px;
  }
  