<app-sidebar-cliente></app-sidebar-cliente>

<!-- privacy-policy.component.html -->
<div class="privacy-policy">
    <div style="text-align: center;">
        <h1><strong>Política de Privacidade</strong></h1>
    </div>

    <p>
        Bem-vindo à nossa Política de Privacidade! Aqui, queremos explicar de maneira clara como coletamos, utilizamos e protegemos os dados pessoais dos usuários que interagem com nosso site e serviços. A transparência é fundamental para nós, e queremos que você se sinta seguro e informado.
    </p>

    <h2>1. Coleta de Dados</h2>
    <p><strong>Fontes e Tipos de Dados</strong></p>
    <p>
        Coletamos informações pessoais através de diferentes canais, como: 
    </p>
    <ul>
        <li><strong>Formulários de Contato, Newsletter e Downloads:</strong> Quando você se inscreve para receber materiais ou se comunica conosco, podemos coletar seu nome, e-mail, telefone e outras informações necessárias para atendê-lo da melhor forma possível.</li>
        <li><strong>Cookies:</strong> Utilizamos cookies para garantir que sua experiência em nosso site seja a melhor possível, analisando seu comportamento para oferecer um conteúdo mais relevante.</li>
        <li><strong>Analytics:</strong> Ferramentas como o Google Analytics nos ajudam a entender como você interage com nosso site, permitindo-nos aprimorar continuamente nossos serviços.</li>
        <li><strong>Mídia Incorporada:</strong> Podemos incluir vídeos, imagens e outros conteúdos de terceiros em nosso site. Esses conteúdos podem coletar dados sobre você e utilizar cookies para melhorar sua experiência.</li>
    </ul>

    <h2>2. Uso e Armazenamento de Dados</h2>
    <p>
        <strong>Uso dos Dados:</strong> Seus dados são utilizados para fornecer suporte, comunicar atualizações e ofertas, e melhorar nosso site com base em suas interações.</p>
    <p>
        <strong>Segurança e Armazenamento:</strong> Tomamos medidas rigorosas para proteger suas informações, mas, como em qualquer sistema, não podemos garantir uma proteção absoluta contra acessos não autorizados. Sua segurança é nossa prioridade.
    </p>

    <h2>3. Compartilhamento de Dados</h2>
    <p>
        <strong>Compartilhamento:</strong> Seus dados são acessíveis apenas para funcionários autorizados e parceiros confiáveis que ajudam a manter nossos serviços funcionando de maneira eficiente.</p>
    <p>
        <strong>Redes Sociais:</strong> Quando você compartilha conteúdo através de redes sociais, a postagem é feita diretamente através de seu perfil. Não temos acesso ao seu login ou senha.
    </p>

    <h2>4. Seus Direitos</h2>
    <p>
        Você tem total controle sobre seus dados pessoais. Isso inclui o direito de acessar, corrigir, excluir suas informações e se desinscrever de nossas comunicações a qualquer momento. Basta nos contatar para exercer seus direitos.
    </p>

    <h2>5. Consentimento e Alterações</h2>
    <p>
        Ao utilizar nossos serviços, você concorda com a forma como lidamos com seus dados, conforme descrito nesta Política. Recomendamos que você revise esta página ocasionalmente para ficar atualizado sobre qualquer mudança.
    </p>

    <h2>6. Lei Aplicável</h2>
    <p>
        Esta Política é regida pelas leis da República Federativa do Brasil. Qualquer disputa relacionada a esta política será tratada no Foro da Comarca de São Leopoldo, RS.
    </p>

    <h2>7. Dúvidas e Contato</h2>
    <p>
        <strong>Nosso DPO (Data Protection Officer):</strong> Nome de Exemplo<br>
        Entre em contato pelo e-mail: <a href="mailto:example@linkanegocios.com">example&#64;linkanegocios.com</a><br>
        Telefone: 15 99517-8030
    </p>
    <p>
        <strong>Para Contato Geral:</strong> Envie um e-mail para <a href="mailto:example@linkanegocios.com">example&#64;linkanegocios.com</a>
    </p>
</div>


<app-footer></app-footer>