<app-sidebar-admin></app-sidebar-admin>
<div class="content">
  <div class="servico-list-container">
    <div class="header">
      <h1 class="titulo">Motivos existentes</h1>
      <p *ngIf="this.motivos.length == 3">Número máximo alcançado</p>
    </div>
    <ul class="servico-list">
      @if(motivos.length){
      <li class="servico-item" *ngFor="let motivo of motivos">
        <div class="cont_img">
          <img [src]="motivo.imagem" alt="{{ motivo.titulo }}" />
        </div>
        <div>
          <h5>{{ motivo.titulo }}</h5>

          <p>{{ motivo.descricao }}</p>
        </div>
        <div class="card-actions">
          <a (click)="openEditModal(motivo)" class="edit">
            <img src="images/edit.png" alt="Edit Icon" />
          </a>
          <a (click)="deleteMotivo(motivo.id)" class="delete">
            <img src="images/trash.png" alt="Delete Icon" />
          </a>
        </div>
      </li>
      }@else{
      <span style="text-align: center"
        >Atualmente, não há motivos cadastrados. Que tal começar registrando o
        primeiro agora?</span
      >
      }
    </ul>
  </div>

  <!-- Modal de Cadastrar -->
  <div class="modal" *ngIf="isModalOpen">
    <div class="modal-content">
      <div class="servico-form-container">
        <div class="header-editar">
          <h2 class="titulo-editar">Cadastrar</h2>
          <span class="close" (click)="closeModal()">&times;</span>
        </div>
        <form [formGroup]="motivoForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="titulo">Título</label>
            <input id="titulo" formControlName="titulo" type="text" />
            <p
              *ngIf="motivoForm.get('titulo')?.hasError('maxlength')"
              class="error"
            >
              O título deve ter no máximo 30 caracteres.
            </p>
          </div>
          <div class="form-group">
            <label for="descricao">Descrição</label>
            <textarea id="descricao" formControlName="descricao"></textarea>
            <p
              *ngIf="motivoForm.get('descricao')?.hasError('maxlength')"
              class="error"
            >
              A descrição deve ter no máximo 80 caracteres.
            </p>
          </div>
          <div class="form-group">
            <label for="imagem">URL da Imagem</label>
            <input id="imagem" formControlName="imagem" type="text" />
          </div>
          <div style="text-align: center">
            <button type="submit" [disabled]="!motivoForm.valid">
              Cadastrar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Modal de Editar -->
  <div class="modal" *ngIf="isEditModalOpen">
    <div class="modal-content">
      <div class="servico-form-container">
        <div class="header-editar">
          <h2 class="titulo-editar">Editar</h2>
          <span class="close" (click)="closeEditModal()">&times;</span>
        </div>
        <form [formGroup]="editMotivoForm" (ngSubmit)="onEditSubmit()">
          <div class="form-group">
            <label for="titulo">Título</label>
            <input id="titulo" formControlName="titulo" type="text" />
            <p
              *ngIf="editMotivoForm.get('titulo')?.hasError('maxlength')"
              class="error"
            >
              O título deve ter no máximo 30 caracteres.
            </p>
          </div>
          <div class="form-group">
            <label for="descricao">Descrição</label>
            <textarea id="descricao" formControlName="descricao"></textarea>
            <p
              *ngIf="editMotivoForm.get('descricao')?.hasError('maxlength')"
              class="error"
            >
              A descrição deve ter no máximo 80 caracteres.
            </p>
          </div>
          <div class="form-group">
            <label for="imagem">URL da Imagem</label>
            <input id="imagem" formControlName="imagem" type="text" />
          </div>
          <div style="text-align: center">
            <button type="submit" [disabled]="!editMotivoForm.valid">
              Atualizar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="container_fab" *ngIf="this.motivos.length < 3">
    <button class="button_fab" (click)="openModal()">
      <svg
        width="32px"
        height="32px"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M12 4C12.5523 4 13 4.44772 13 5V11H19C19.5523 11 20 11.4477 20 12C20 12.5523 19.5523 13 19 13H13V19C13 19.5523 12.5523 20 12 20C11.4477 20 11 19.5523 11 19V13H5C4.44772 13 4 12.5523 4 12C4 11.4477 4.44772 11 5 11H11V5C11 4.44772 11.4477 4 12 4Z"
          fill="#fff"
        />
      </svg>
    </button>
  </div>
</div>
