<div class="footer">
    <div class="footer-top">
        <div class="social-icons">
            <a href="#"><img src="https://a.imagem.app/3JoBcY.png" alt="Icone Facebook"></a>
            <a href="#"><img src="https://a.imagem.app/3JoG4a.png" alt="Icone Twitter"></a>
            <a href="#"><img src="https://a.imagem.app/3JoSS9.png" alt="Icone Instagram"></a>
            <a href="#"><img src="https://a.imagem.app/3Johqk.png" alt="Icone Instagram"></a>
        </div>
        <div class="privacy-terms">
            <a href="#">Política de Privacidade</a> | <a href="#">Termos de Uso</a>
        </div>
    </div>
    <div class="footer-bottom">
        © Linka Negócios – All rights reserved
    </div>
</div>