* {
    margin: 0;
    padding: 0;
    min-height: 100%;
}

.footer {
    width: 100%;
    text-align: center;
    background-color: #F2F1ED;
}

.footer-top {
    padding: 20px 0;
}

.social-icons {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.social-icons a {
    margin: 0 10px;
    display: inline-block;
}

.social-icons img {
    width: 20px;
    height: 18px;
    transition: transform 0.3s;
}


.social-icons img:hover {
    transform: scale(1.1);
}

.privacy-terms {
    color: #B22828;
}

.privacy-terms a {
    color: #B22828;
    text-decoration: none;
    margin: 0 5px;
}

.footer-bottom {
    background-color: #B22828;
    color: #FFFFFF;
    padding: 10px 0;
    font-size: 14px;
}

/* Estilos para mobile */
@media (max-width: 768px) {
    .social-icons img {
        width: 20px;
        height: 20px;
    }
    
    .footer-bottom {
        font-size: 12px;
    }
}
