@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sora", sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.contact-page {
  color: #333;
  padding: 20px;
  max-width: 800px;
  margin: auto;
  flex: 1;
}

.footer {
  flex-shrink: 0;
}

h3 {
  color: #B22828;
  text-align: center;
  font-weight: 500;
  font-size: 28px; 
}

.contact-info h5,
.social-media h5 {
  color: #B22828;
  font-weight: 500;
  font-size: 18px; 
}

.social-media p {
  margin: 10px 0;
  font-size: 14px; 
}

.social-media p img {
  margin-right: 8px;
  vertical-align: middle;
}

.social-media p a {
  color: #333;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px; 
}

.social-media p a:hover {
  text-decoration: underline;
}

.contact-btn {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #B22828;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 14px; 
  text-align: center;
  margin: 20px 0;
}

.contact-btn:hover {
  background-color: #a32020;
}

/* Modal Styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal.show {
  display: block;
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 400px;
  border-radius: 8px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 26px; 
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin: 10px 0 5px;
  font-size: 14px; 
}

input, textarea, button {
  padding: 10px;
  margin: 5px 0 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px; 
}

button {
  background-color: #B22828;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #a32020;
}

@media (max-width: 600px) {
  .contact-page {
    padding: 15px;
  }
  
  h3 {
    font-size: 28px; 
    font-weight: 500;
  }
  
  .contact-info h5,
  .social-media h5 {
    font-size: 18px; 
  }
  
  .social-media p {
    font-size: 14px; 
  }
  
  .social-media p a {
    font-size: 14px; 
  }
  
  .contact-btn {
    font-size: 14px; 
  }
  
  .modal-content {
    width: 90%;
  }
}
