@import url('https://fonts.googleapis.com/css2?family=Sora:wght@300;400;600;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sora", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: linear-gradient(to right, #f5f5f5, #ffffff);
}

header {
  z-index: 1000;
}

.contact-page {
  background: #ffffff;
  padding: 40px;
  max-width: 900px;
  margin: auto;
  border-radius: 12px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  position: relative;
}

.contact-page::before {
  content: '';
  position: absolute;
  top: -20px;
  left: 0;
  right: 0;
  height: 15px;
  background: #B22828;
  border-radius: 12px 12px 0 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.footer {
  flex-shrink: 0;
}

h3 {
  color: #B22828;
  text-align: center;
  font-weight: 600;
  font-size: 36px;
  margin-bottom: 20px;
  position: relative;
}

.contact-info h5,
.social-media h5 {
  color: #B22828;
  font-weight: 600;
  font-size: 20px;
  border-bottom: 2px solid #B22828;
  padding-bottom: 10px;
  margin-bottom: 15px;
}

.contact-info p,
.social-media p {
  font-size: 16px;
  margin: 10px 0;
}

.social-media p {
  display: flex;
  align-items: center;
}

.social-media p img {
  margin-right: 12px;
}

.social-media p a {
  color: #333;
  text-decoration: none;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-media p a:hover {
  text-decoration: underline;
}

.contact-btn {
  display: block;
  width: 100%;
  padding: 15px;
  background: linear-gradient(135deg, #B22828, #a32020);
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  margin: 30px 0;
  border-radius: 8px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.contact-btn:hover {
  background: linear-gradient(135deg, #cb3636, #B22828);
  transform: scale(1.01);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.modal.show {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fff;
  margin: 10% auto;
  padding: 30px;
  border-radius: 12px;
  width: 90%;
  max-width: 600px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  position: relative;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  transition: color 0.3s ease;
}

.close:hover,
.close:focus {
  color: #B22828;
  text-decoration: none;
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;

  .required{
    color: var(--secondary-color);
  }
}

label {
  margin: 15px 0 5px;
  font-size: 16px;
  font-weight: 500;
}

textarea{
  margin-bottom: 10px;
}

input,
textarea {
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 16px;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
}

.small-input {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;


  .input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: calc(50% - 5px);
    input{
      width: 100% !important;
    }
  }
}

button {
  padding: 12px;
  background: linear-gradient(135deg, #B22828, #a32020);
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 8px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

button:hover {
  background: linear-gradient(135deg, #a32020, #B22828);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  .contact-page {
    padding: 20px;
  }

  h3 {
    font-size: 28px;
  }

  .contact-info h5,
  .social-media h5 {
    font-size: 18px;
  }

  .contact-info p,
  .social-media p {
    font-size: 14px;
  }

  .contact-btn {
    font-size: 14px;
  }

  .modal-content {
    width: 95%;
  }
}