@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");

@import "assets/fonts/fonts";
// Definindo cores principais
$primary-color: #221e1f;
$secondary-color: #b22828;
$tertiary-color: #f2f1ed;
$quartenary-color: #ffffff;

// Outras cores
$success-color: #28a745;
$error-color: #dc3545;
$warning-color: #ffc107;
$info-color: #17a2b8;
$dark-color: #7b7b7b;
$light-dark-color: #f6f6f6;

// Aplicando as cores
:root {
  --primary-color: #{$primary-color};
  --secondary-color: #{$secondary-color};
  --tertiary-color: #{$tertiary-color};
  --quartenary-color: #{$quartenary-color};
  --success-color: #{$success-color};
  --error-color: #{$error-color};
  --warning-color: #{$warning-color};
  --info-color: #{$info-color};
  --dark-color: #{$dark-color};
  --light-dark-color: #{$light-dark-color};

  /* Tons escuros */
  --primary-color-dark: #191617;
  --secondary-color-dark: #8e2020;
  --tertiary-color-dark: #cbcac6;
  --quartenary-color-dark: #cccccc;

  /* Tons claros */
  --primary-color-light: #524e4f;
  --secondary-color-light: #cc4c4c;
  --tertiary-color-light: #ffffff;
  --quartenary-color-light: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sora", sans-serif;
}

.row {
  display: flex;
  align-items: center;
  width: 100%;
  // border: 1px dashed red;
}

.col {
  display: flex;
  justify-content: center;
  // border: 1px dashed red;
  font-family: "Sora", sans-serif;
}

.rating {
  font-size: 2em;
  color: #ffd700;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  span.message_rating {
    display: none;
    font-size: 0.8em !important;
    color: var(--secondary-color) !important;
  }

  span.message_rating.show {
    display: block;
  }
}

.user-name {
  font-weight: bold;
  color: #333;
}

.user-avatar img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.footer {
  margin-top: 30px;
}

.error-message {
  color: var(--secondary-color);
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #8e2020;
  border-radius: 6px;
  border: 2px solid #f1f1f1;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #6e0909;
}

::-webkit-scrollbar-thumb:active {
  background-color: #6e0909;
}

textarea {
  resize: vertical;
}

.custom-confirm-button {
  background-color: #b22828 !important;
  color: white !important;
  border: none !important;
  padding: 10px 20px !important;
  font-size: 16px !important;
  border-radius: 5px !important;
  cursor: pointer !important;
}

.custom-confirm-button:hover {
  background-color: #a02020 !important;
}

div.grecaptcha-badge {
  position: absolute;
  bottom: 80px !important;
  right: 20px;
  display: none;
}

.modal-content {
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

button {
  transition: all 0.4s ease;

  &:hover {
    cursor: pointer;
    transform: scale(1.04);
  }
}

.no-select {
  cursor: grab;
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
