<div class="container">
  <header>
    <app-sidebar-cliente></app-sidebar-cliente>
  </header>

  <div class="contact-page" @fadeIn>
    <h3>Fale Conosco</h3>
    <p><strong>Estamos aqui para ajudar!</strong> Se você tem sugestões, reclamações ou precisa resolver um problema,
      entre em contato conosco.</p>

    <div class="contact-info">
      <h5>Informações de Contato</h5>
      <p><strong>Telefone:</strong> +55 (15) 98126-7536</p>
      <p><strong>Endereço:</strong> 545 Mavis Island, IL 99191</p>
      <p><strong>Email:</strong> linkanegocios&#64;gmail.com</p>
    </div>

    <div class="social-media">
      <h5>Redes Sociais</h5>
      <p><a href="https://www.facebook.com/linkanegocios/" target="_blank"><img src="https://a.imagem.app/3JoBcY.png" alt="Ícone Facebook"> &#64;Linka.Negocios</a></p>
      <p><a href="#"><img src="https://a.imagem.app/3JoG4a.png" alt="Ícone Twitter"> &#64;Linka.Negocios</a></p>
      <p><a href="https://www.instagram.com/linkanegocios/" target="_blank"><img src="https://a.imagem.app/3JoSS9.png" alt="Ícone Instagram"> &#64;Linka.Negocios</a></p>
      <p><a href="https://www.linkedin.com/company/linka-neg%C3%B3cios/?originalSubdomain=br" target="_blank"><img src="https://a.imagem.app/3Johqk.png" alt="Ícone LinkedIn"> &#64;Linka.Negocios</a></p>
      <p><a href="https://linktr.ee/marlon_passos" target="_blank"><img class="icone_dev" src="images/svg/dev.svg" alt="Ícone Equipe de desenvolvimento"> &#64;Linka.Negocios</a></p>
    </div>

    <button (click)="openModal()" class="contact-btn">Formulário de Contato</button>

    <div id="contactModal" class="modal" [ngClass]="{'show': showModal}">
      <div class="modal-content">
        <span class="close" (click)="closeModal()">&times;</span>
        <h4 class="titulo-form">Formulário de Contato</h4>
        <p><strong>Estamos aqui para ajudar!</strong></p>
        <form [formGroup]="contactForm" (ngSubmit)="submitForm()">

          <label for="email">Email<span class="required"><strong>*</strong></span></label>
          <input type="email" id="email" formControlName="email" placeholder="Digite o seu email..." required maxlength="100">

          <div class="small-input">
            <div class="input-container">
              <label for="name">Nome<span class="required"><strong>*</strong></span></label>
              <input type="text" id="name" formControlName="nome" placeholder="Nome e sobrenome" required maxlength="50">
            </div>

            <div class="input-container">
              <label for="phone">Telefone<span class="required"><strong>*</strong></span></label>
              <input type="tel" id="phone" formControlName="telefone" (input)="applyPhoneMask($event)" placeholder="Digite o seu telefone..." maxlength="15">
            </div>
          </div>

          <div class="small-input">

            <div class="input-container">
              <label for="company">Empresa<span class="required"><strong>*</strong></span></label>
              <input type="text" id="company" formControlName="empresa" placeholder="Digite a sua empresa..." maxlength="30">
            </div>

            <div class="input-container">
              <label for="sector">Profissão<span class="required"><strong>*</strong></span></label>
              <input type="text" id="sector" formControlName="area_atuacao" placeholder="Digite a sua profissão..." maxlength="30">
            </div>
          </div>


          <label for="message">Mensagem<span class="required"><strong>*</strong></span></label>
          <textarea id="message" formControlName="mensagem" required placeholder="Digite a sua mensagem de contato..." maxlength="300"></textarea>

          <button type="submit">Enviar</button>
        </form>
      </div>
    </div>
  </div>

  <app-icone-whatsapp></app-icone-whatsapp>

  <footer class="footer">
    <app-footer></app-footer>
  </footer>
</div>
