<div class="page-wrapper">
  <header class="header">
    <app-insights-sidebar></app-insights-sidebar>
  </header>

  <main class="container">
    <div class="row header">
      <div class="col cont_img">
        <img [src]="this.apiUrl + post?.url_imagem" alt="">
      </div>
      <div class="col cont_title">
        <span class="title">{{ post?.titulo }}</span>
        <div class="col cont_autor">
          <span class="autor">Written by {{ post?.usuario_nome }} <span class="data">{{ post?.data }}</span></span>
          <app-share-button [urlSite]="this.currentUrl" [tituloCompartilhado]="this.shareTitle"></app-share-button>
        </div>
      </div>
    </div>

    <div class="line"></div>

    <div class="row main">
      <span [innerHTML]="sanitizedContent"></span>
    </div>


    <div class="row compartilhar">
      <span>Compartilhe:</span>
      <a href="https://www.facebook.com/sharer/sharer.php?u={{currentUrl}}" target="_blank">
        <img src="images/facebook.png" alt="Compartilhar no Facebook">
      </a>
      <a href="https://twitter.com/intent/tweet?url={{currentUrl}}&text={{text}}" target="_blank">
        <img src="images/twitter.png" alt="Compartilhar no Twitter">
      </a>
      <a href="https://www.instagram.com/" target="_blank">
        <img src="images/instagram.png" alt="Compartilhar no Instagram">
      </a>
    </div>


    <div class="line"></div>

    <div class="cont_comentarios">
      <div class="col cont_title"><span class="title">Comentários</span></div>
      <div class="row form_comentarios">
        <div class="col">
          <form class="form" [formGroup]="comentariosForm" (submit)="submitApplication()">
            <div class="title">
              <div class="title_header">
                <img src="images/message.png" alt="">
                <span>Deixe um comentário</span>
              </div>
              <div class="rating" (mouseleave)="reset()">
                <div class="cont_avaliacao">
                  <span *ngFor="let star of stars; let i = index" (click)="rate(i + 1)" (mouseover)="hover(i + 1)"
                    [ngClass]="{'filled': i < rating || i < hoverState}">
                    &#9733;
                  </span>
                </div>
                <div>
                  <span #messageRating class="message_rating">Lembre-se de avaliar</span>
                </div>

              </div>
            </div>
            <div class="container_input grande">
              <label for="conteudo">Conteúdo<span>*</span></label>
              <textarea id="conteudo" formControlName="conteudo" required></textarea>
              <div class="error-message "
                *ngIf="comentariosForm.get('conteudo')!.invalid && (comentariosForm.get('conteudo')!.dirty || comentariosForm.get('conteudo')!.touched)">
                Conteúdo inválido
              </div>
            </div>
            <div class="container_input grande">
              <label for="profissao">Profissão<span>*</span></label>
              <input id="profissao" type="text" formControlName="profissao" required>
              <div class="error-message "
                *ngIf="comentariosForm.get('profissao')!.invalid && (comentariosForm.get('profissao')!.dirty || comentariosForm.get('profissao')!.touched)">
                Profissão inválida
              </div>
            </div>
            <div class="inputs_ident">
              <div class="container_input">
                <label for="email">Email <span>*</span></label>
                <input id="email" type="email" formControlName="email" required />
                <div class="error-message"
                  *ngIf="comentariosForm.get('email')!.invalid && (comentariosForm.get('email')!.dirty || comentariosForm.get('email')!.touched)">
                  Email inválido
                </div>
              </div>
              <div class="container_input">
                <label for="nome">Nome<span>*</span></label>
                <input id="nome" type="text" formControlName="nome" required />
                <div class="error-message"
                  *ngIf="comentariosForm.get('nome')!.invalid && (comentariosForm.get('nome')!.dirty || comentariosForm.get('nome')!.touched)">
                  Nome inválido
                </div>
              </div>
            </div>
            <button type="submit" class="primary">publicar</button>
          </form>
        </div>
      </div>
      <div class="row cont_comente" *ngFor="let comentario of comentarios | slice:0:3">
        <div class="col comente">
          <div class="cont_rating">
            <span class="rating" [innerHTML]="comentario.avaliacao"></span>
          </div>
          <div class="col title">
            <span class="text">{{ comentario.conteudo }}</span>
          </div>
          <div class="col user-info">
            <div class="header_user-info">
              <img src="images/user.png" alt=""><span> {{ comentario.user_name }}</span>
            </div>
            <span class="data">{{ comentario.criado_em }}</span>
          </div>
        </div>
      </div>
      <section class="col button_avaliacoes cont_button" *ngIf="comentarios.length > 3">
        <button class="button" (click)="openModal()">Ver mais</button>
      </section>
    </div>
  </main>

  <footer class="footer">
    <app-footer></app-footer>
  </footer>
</div>