<div class="page-wrapper">
    <header class="header">
        <app-sidebar-cliente></app-sidebar-cliente>
    </header>

    <main class="container">
        <div class="row header_main">
            <div class="col">
                <span class="title">
                    Últimas dicas e atualizações em
                    <span>
                        nosso Insights
                    </span>
                </span>
            </div>
            <div class="col">
                <span class="text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus hendrerit suscipit egestas. Nunc
                    eget congue ante.
                    Vivamus ut sapien et ex volutpat tincidunt eget at felis vivamus hendrerit.
                </span>
            </div>
        </div>

        <div class="row cont_post">
            <div class="col post" *ngFor="let post of posts">
                <div class="col header">
                    <img [src]="'http://linkanegocios/ApiLinkaNegocios/API_linka_negocios/public/posts/' + post?.url_imagem"
                        alt="">
                </div>
                <div class="col content">
                    <span class="title_post">{{ post.titulo }}</span>
                    <div class="conteudo" [innerHTML]="truncateText(post.conteudo)"></div>
                    <div class="post-meta">
                        <img src="images/comentario.png" alt="">
                        <span>
                            {{ post.comentarios }}
                        </span>
                        <img src="images/show.png" alt="">
                        <span>
                            {{ post.views }}
                        </span>
                        <img src="images/relogio.png" alt="">
                        <span>
                            {{ post.data }}
                        </span>
                    </div>
                    <div>
                        <a class="read-more" (click)="savePost(post)" [routerLink]="['/read-more', post.id]">read
                            more...</a>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer class="footer">
        <app-footer></app-footer>
    </footer>
</div>