
* {
    font-family: "Sora", sans-serif;
    margin: 0;
    padding: 0;
}

.custom-snackbar-bg {
    background-color: #B22828 !important;
    color: #fff !important;
    text-align: center;
}

.content {
    margin-left: 250px;
    padding: 20px;
    flex-grow: 1;
    min-height: 100dvh;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    max-width: 700px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 3px 3px 10px rgba(50, 50, 50, 0.523);
}

h6 {
    font-size: 45px;
    color: #B22828;
    margin-bottom: 20px;
    font-family: 'Cosen', sans-serif;
    font-weight: 600;
    text-align: center;
}

.media-content {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 8px;
    margin: 20px 0;
}

.media-content p {
    margin: 0;
}

.media-content .optional {
    margin-left: 15px;
    background-color: #E0E0E0;
    padding: 2px 6px;
    border-radius: 10px;
    font-size: 12px;
}

.media-content img {
    margin-left: 10px;
}

.description {
    color: #9E9E9E;
    margin-bottom: 20px;
    font-size: 15px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group select,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 2px solid #B22828;
    border-radius: 8px;
    box-sizing: border-box;
}

.form-group input[type="text"]::placeholder,
.form-group textarea::placeholder {
    color: #9E9E9E;
}

.form-group .image-upload {
    display: flex;
    align-items: center;
    border: 2px solid #B22828;
    border-radius: 8px;
    padding: 10px;
    box-sizing: border-box;
    position: relative;
    gap: 10px;
    cursor: pointer;
}

.form-group input[type="file"] {
    display: none;
}

.form-group .icon-upload,
.form-group .icon-remove {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.form-group .icon-upload {
    margin-right: 10px;
}

.form-group .icon-remove {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.form-group .image-info {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.form-group .image-info span {
    color: #9E9E9E;
    font-size: 12px;
}

.form-group .image-preview {
    max-width: 150px;
    max-height: 150px;
    object-fit: cover;
    border: 2px solid #ddd;
    border-radius: 4px;
    margin-left: 10px;
}

.form-group .text-editor {
    display: flex;
    flex-direction: column;
}

.form-group .text-editor textarea {
    height: 200px;
}

.buttons {
    display: flex;
    justify-content: flex-end;
}

.buttons button {
    padding: 10px 20px;
    margin-left: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.buttons .cancel-btn {
    background-color: #9E9E9E;
    color: #fff;
}

.buttons .create-btn {
    background-color: #B22828;
    color: #fff;
}

.editor {
    min-height: 200px;
    max-height: 400px;
    border: 1px solid #B22828;
    border-radius: 5px;
    padding: 10px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    list-style-position: inside;
    overflow-y: auto;
}

.editor img {
    max-width: 100%;
    height: auto;
}

.editor:focus {
    outline: none;
}

.editor ul,
.editor ol {
    padding-left: 20px;
    list-style-position: inside;
}

#toolbar {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}

.icone-edit {
    width: 20px;
    height: 20px;
}

.icone-edit-bolde {
    width: 18px;
    height: 18px;
}

select,
button {
    margin: 5px;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

button{
    border: 1px solid black;

    &:active, &:focus{
        filter: brightness(0.8);
    }
}

select:hover,
button:hover {
    background-color: #ddd;
}

.error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

.font-size-1 {
    font-size: 10px;
}

.font-size-2 {
    font-size: 12px;
}

.font-size-3 {
    font-size: 14px;
}

.font-size-4 {
    font-size: 18px;
}

.font-size-5 {
    font-size: 24px;
}

.font-size-6 {
    font-size: 30px;
}

.font-size-7 {
    font-size: 36px;
}

input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
    border: none;
}

input[type="color"]::-webkit-color-swatch {
    border: none;
    border-radius: 5px;
}

input[type="color"] {
    appearance: none;
    width: 36px;
    height: 36px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    outline: none;
}

.post-filters label {
    font-size: 1rem;
    color: #333;
}

.post-filters select {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    color: #333;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    appearance: none;
}

.post-filters select:focus {
    border-color: #a32020;
    box-shadow: 0 0 8px rgba(163, 32, 32, 0.2);
    outline: none;
}

.post-filters select option {
    padding: 10px;
}

@media (max-width: 768px) {
    .content {
        margin-left: 0;
        margin-top: 70px;
        padding: 20px 8px !important;

        .form-group .image-upload {
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;

            .image-info{
                width: 100%;
                text-align: center;
            }

            .image-preview{
                margin: auto;
            }
        }
    }
}

/* Estilo geral para o formulário */
.form-container {
    background-color: #f5f5f5;
    /* Cor de fundo clara para o formulário */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
}

/* Estilos para os botões */
button.step-button {
    background: var(--secondary-color);
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin: 10px;
    transition: all 0.4s ease;

    &:hover {
        transform: scale(1.05);
    }
}

button.step-button:disabled {
    color: #fff;
    background-color: #d3d3d3;
    cursor: not-allowed;
}

/* Estilos para mensagens de erro */
.error-message {
    color: #e74c3c;
    /* Cor vermelha para mensagens de erro */
    font-size: 12px;
}

/* Estilos para upload de imagem */
.image-upload {
    display: flex;
    align-items: center;
    cursor: pointer;
    border: 1px dashed #ccc;
    padding: 10px;
    border-radius: 4px;
    background-color: #fafafa;
}

.image-upload .icon-upload,
.image-upload .icon-remove {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.image-preview {
    max-width: 100px;
    max-height: 100px;
    margin-left: 10px;
    border-radius: 4px;
}

/* Estilos para o editor de texto */
#toolbar {
    display: flex;
    margin-bottom: 10px;
}

.toolbar-group {
    display: flex;
    align-items: center;
}

.icon-edit {
    width: 24px;
    height: 24px;
    margin-right: 5px;
}

.editor {
    border: 1px solid #ccc;
    padding: 10px;
    min-height: 150px;
    border-radius: 4px;
    background-color: #fff;
}

/* Estilo para a página e container */
.content {
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}
