<app-sidebar-admin></app-sidebar-admin>
<div class="content">
  <div class="container">
    <h6>Criar post para o Insights</h6>

    <div [ngClass]="{'form-container': true, 'disabled': !createPostForm.valid}">
      <div *ngIf="currentStep === 1">
        <div class="media-content">
          <p style="font-weight: 600;">Esse post irá aparecer na tela de Insights.</p>
          <img src="https://a.imagem.app/3jWGwY.png" alt="Ícone de mídia">
        </div>
        <button mat-raised-button class="step-button" (click)="nextStep()">Próximo</button>
      </div>

      <div *ngIf="currentStep === 2">
        <form [formGroup]="createPostForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="title">Título</label>
            <input type="text" id="title" formControlName="title" placeholder="Digite o título">
            <div class="error-message"
              *ngIf="createPostForm.get('title')?.invalid && (createPostForm.get('title')?.dirty || createPostForm.get('title')?.touched)">
              Título é obrigatório
            </div>
          </div>
          <div class="form-group">
            <label for="description">Descrição</label>
            <input type="text" id="description" formControlName="description" placeholder="Digite a descrição">
            <div class="error-message"
              *ngIf="createPostForm.get('description')?.invalid && (createPostForm.get('description')?.dirty || createPostForm.get('description')?.touched)">
              A descrição é obrigatória
            </div>
          </div>
          <div class="form-group">
            <label for="image">Imagem</label>
            <div class="image-upload" (click)="triggerFileInput()">
              <img src="https://a.imagem.app/3jWkjk.png" alt="Ícone de upload" class="icon-upload">
              <input type="file" id="image" (change)="onFileSelected($event)" accept="image/*" #fileInput
                placeholder="Clique para adicionar a sua imagem" style="display: none;">
              <div class="image-info" *ngIf="fileName" (click)="triggerFileInput()">
                <span>{{ fileName }}</span>
                <span>{{ fileType }}, {{ fileSize }}</span>
              </div>
              <img *ngIf="imageSrc" [src]="imageSrc" alt="Imagem selecionada" class="image-preview">
              <img src="https://a.imagem.app/3jWhk9.png" alt="Ícone de retirar" class="icon-remove" *ngIf="fileName"
                (click)="removeFile()">
            </div>
          </div>
          <div class="form-group">
            <label for="category-select">Categoria:</label>
            <select id="category-select" formControlName="category">
              <option value="">Selecione uma categoria</option>
              <option *ngFor="let category of categories" [value]="category.id">{{ category.nome }}</option>
            </select>
          </div>
          <button mat-raised-button class="step-button" (click)="prevStep()">Anterior</button>
          <button mat-raised-button class="step-button" [ngClass]="{'disabled': !createPostForm.value.title || !createPostForm.value.image || !createPostForm.value.description || !createPostForm.value.category}" (click)="nextStep()" [disabled]="!createPostForm.value.title || !createPostForm.value.image || !createPostForm.value.description || !createPostForm.value.category">Próximo</button>
        </form>
      </div>

      <div *ngIf="currentStep === 3">
        <div class="form-group">
          <label for="content">Conteúdo</label>
          <div id="toolbar">
            <div class="toolbar-group">
              <button type="button" (click)="format('bold')"><img class="icon-edit" src="https://a.imagem.app/35t77Y.png" alt="Bold" /></button>
              <button type="button" (click)="format('italic')"><img class="icon-edit" src="https://a.imagem.app/35tnV9.png" alt="Italic" /></button>
              <button type="button" (click)="format('underline')"><img class="icon-edit" src="https://a.imagem.app/35tKHk.png" alt="Underline" /></button>
              <button type="button" (click)="format('strikeThrough')"><img class="icon-edit" src="https://a.imagem.app/35tism.png" alt="StrikeThrough" /></button>
            </div>
            <div class="toolbar-group">
              <button type="button" (click)="format('justifyLeft')"><img class="icon-edit" src="https://a.imagem.app/35tkLN.png" alt="Justify Left" /></button>
              <button type="button" (click)="format('justifyCenter')"><img class="icon-edit" src="https://a.imagem.app/35LOLl.png" alt="Justify Center" /></button>
              <button type="button" (click)="format('justifyRight')"><img class="icon-edit" src="https://a.imagem.app/35LWyS.png" alt="Justify Right" /></button>
              <button type="button" (click)="format('justifyFull')"><img class="icon-edit" src="https://a.imagem.app/35t82v.png" alt="Justify Full" /></button>
            </div>
            <div class="toolbar-group">
              <button type="button" (click)="format('insertOrderedList')"><img class="icon-edit" src="https://a.imagem.app/35tzyC.png" alt="Ordered List" /></button>
              <button type="button" (click)="format('insertUnorderedList')"><img class="icon-edit" src="https://a.imagem.app/35tbV3.png" alt="Unordered List" /></button>
            </div>
            <div class="toolbar-group">
              <button type="button" (click)="insertLink()"><img class="icon-edit" src="https://a.imagem.app/35tGZ8.png" alt="Insert Link" /></button>
              <button type="button" (click)="insertImage()"><img class="icon-edit" src="https://a.imagem.app/35t3GZ.png" alt="Insert Image" /></button>
            </div>
            <div class="toolbar-group">
              <button type="button" (click)="changeTextColor($event)"><img class="icon-edit" src="https://a.imagem.app/35tBxi.png" alt="Text Color" /></button>
            </div>
            <div class="toolbar-group">
              <select (change)="changeFontSize($event)">
                <option *ngFor="let size of fontSizes" [value]="size">{{size}}pt</option>
              </select>
            </div>
          </div>
          <div id="content" contenteditable="true" class="editor" (input)="onContentChange()"></div>
          <div class="error-message"
            *ngIf="createPostForm.get('content')?.invalid && (createPostForm.get('content')?.dirty || createPostForm.get('content')?.touched)">
            Conteúdo é obrigatório
          </div>
        </div>
        <button mat-raised-button class="step-button" (click)="prevStep()">Anterior</button>
        <button mat-raised-button class="step-button" [ngClass]="{'disabled': !createPostForm.valid}" (click)="onSubmit()">Criar</button>
      </div>
    </div>
  </div>
</div>
