@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Sora", sans-serif;
}

body, html {
    width: 100%;
    height: 100%;
    margin: 0; 
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px; 
    background-color: #B22828;
    width: 100%;
    box-sizing: border-box;
}

  .logo img {
    height: 50px;
    cursor: pointer;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
  }
  
  .nav-links li {
    margin-left: 20px;
  }
  
  .nav-links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    display: flex;
    align-items: center;
  }
  
  .nav-links a img {
    margin-right: 8px;
    height: 20px; 
  }
  
  .burger {
    display: none;
    cursor: pointer;
}

.burger img {
    height: 30px; 
    width: 30px;
}
  

  @media (max-width: 768px) {
    .logo img {
        height: 40px;
      }

    .nav-links {
      display: none;
      flex-direction: column;
      width: 50%;
      position: absolute;
      top: 60px;
      right: 0;
      background-color: #B22828;
      padding: 10px 5%; 
      max-height: 300px; 
      overflow-y: auto; 
    }
  
    .nav-links.open {
      display: flex;
    }

    .nav-links{
        padding: 10px 5%;
      }

      .nav-links a {
        font-size: 14px;
      }
  
    .nav-links li {
      margin: 10px 0;
    }
  
    .burger {
      display: block;
    }
  }
  
  