
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Sora", sans-serif;
}

body {
    display: flex;
}

.sidebar {
    width: 250px;
    background-color: #B22828;
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    overflow-y: auto; /* Adiciona a barra de rolagem */
}

.logo-container {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.logo {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.site-name {
    font-size: 1.5rem;
    font-weight: 600;
    font-family: 'Cosen', sans-serif;
}

.menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px; /* Aumenta o espaço entre os itens do menu */
}

.menu a {
    text-decoration: none;
    color: white;
    padding: 15px 20px;
    font-size: 1rem;
    transition: background-color 0.3s;
}

.menu a:hover, .menu a.active {
    background-color: #A02020;
    border-radius: 5px;
}

.menu-item {
    position: relative;
}


.menu-item > a {
    display: block;
    // margin-bottom: 5px; /* Espaçamento entre o título do submenu e o próximo item */
}

.menu-item > a.active {
    margin-bottom: 0; /* Remove a margem se o submenu estiver ativo para evitar espaço extra */
}

.submenu {
    display: none;
    flex-direction: column;
    padding-left: 20px;
    gap: 10px; /* Espaço entre os itens dentro do submenu */
}

.submenu.active {
    display: flex;
}

.submenu {
    display: none;
    flex-direction: column;
    padding-left: 20px;
    gap: 10px; /* Aumenta o espaço entre os itens do submenu */
}

.submenu a {
    padding: 10px 20px;
    font-size: 0.9rem;
}

.submenu.active {
    display: flex;
}

.hamburger {
    display: none;
    font-size: 35px;
    background: none;
    border: none;
    color: white;
    position: fixed;
    top: 10px;
    right: 20px;
    z-index: 1000;
}

.logout-button {
    margin-top: auto;
    text-decoration: none;
    color: white;
    padding: 15px 20px;
    font-size: 1rem;
    display: flex;
    align-items: center;
    transition: background-color 0.3s;
}

.logout-icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.logout-button:hover {
    background-color: #A02020;
    border-radius: 5px;
}

@media (max-width: 768px) {
    .hamburger {
        display: block;
    }

    .sidebar {
        width: 100%;
        height: auto;
        flex-direction: column;
        position: fixed;
        left: 0;
        padding: 0;
        transition: all 0.3s;
        background-color: #B22828;
        overflow: auto;
    }

    .logo-container {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1001;
        background-color: #B22828;
        padding: 10px;
        width: 100%;
    }

    .menu {
        display: none;
        overflow: auto;
        margin-top: 20px;
    }

    .menu a {
        display: block;
        overflow: auto;
        padding: 10px 10px;
    }

    .sidebar.active .menu {
        display: block;
    }

    .sidebar.active {
        margin-top: 56px;
    }

    .hamburger {
        display: block;
    }

    .submenu {
        gap: 0; /* Aumenta o espaço entre os itens do submenu */
    }
}
