.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Sora", sans-serif;
}

.header,
.footer {
  flex-shrink: 0;
}

.about-container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  flex: 1;
}

.about-header {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 20px 0;
  border-bottom: 2px solid #B22828;
  margin-bottom: 20px;
}

.about-header img {
  width: 50px;
  height: 50px;
}

.about-header h1 {
  font-size: 2.5em;
  color: #B22828;
  margin-top: 26px;
  font-family: 'Cosen', sans-serif;
}

.buttons {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.scroll-button {
  padding: 10px 20px;
  border: none;
  background-color: #B22828;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  font-family: "Sora", sans-serif;
}

.scroll-button:hover {
  background-color: #8e1f1f;
}

.about-sections {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.about-sections section {
  flex: 1;
  min-width: 300px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about-sections h2 {
  color: #B22828;
  font-size: 1.5em;
  margin-bottom: 10px;
  font-family: 'Cosen', sans-serif;
}

.about-sections p {
  line-height: 1.6;
  color: #333;
  font-family: "Sora", sans-serif;
}

.feedback-section {
  padding: 30px;
  background-color: #ffffff;
  border: 2px solid var(--secondary-color);
  padding: 30px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  max-width: 700px;
  margin: 40px auto;
}

.feedback-section h3 {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 1.5em;
  color: #B22828;
  font-weight: 500;
}

.feedback-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-size: 1em;
  color: #333;
  margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
  padding: 10px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.form-group input:focus,
.form-group textarea:focus {
  border-color: #B22828;
}

.submit-button {
  align-self: center;
  padding: 10px 20px;
  background-color: #B22828;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  text-transform: uppercase;
}

.submit-button:hover {
  background-color: #8e1f1f;
}

.rating {
  display: flex;
  cursor: pointer;
}

.rating span {
  font-size: 1em;
  font-weight: 400;
  color: #d3d3d3;
}

.cont_avaliacao span {
  font-size: 0.8em;
}

.rating span.filled {
  color: #fcd508;
}

.error-message {
  color: #B22828;
  font-size: 0.875em;
  margin-top: 5px;
}


@media (max-width: 768px) {
  .about-header {
    flex-direction: column;
    text-align: center;
  }

  .about-header h1 {
    font-size: 2em;
    margin-top: 0;
  }

  .buttons {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .scroll-button {
    padding: 8px 16px;
    margin-top: 10px;
    font-size: 0.9em;
    min-width: 100px;
    flex-basis: 45%;
  }

  .about-sections {
    flex-direction: column;
  }

  .feedback-section {
    padding: 20px;
    margin: 20px auto;
  }

  .feedback-section h3 {
    flex-direction: column;
    align-items: flex-start;
  }

  .submit-button {
    align-self: stretch;
  }
}