.consent-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: var(--primary-color);
    color: var(--tertiary-color);
    padding: 20px;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 9999;
  }
  
  /* Estiliza o texto e os links no banner */
  .consent-banner p {
    margin: 0;
    font-size: 16px;
    text-align: center;
  }
  
  .consent-banner a {
    color: var(--quartenary-color);
    text-decoration: underline;
  }
  
  /* Estiliza os botões de consentimento */
  .consent-banner button {
    background-color: var(--secondary-color);
    color: var(--quartenary-color);
    border: none;
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: all 0.4s ease;
  }
  
  .consent-banner button:nth-of-type(2) {
    background-color: var(--quartenary-color);
    color: var(--primary-color);
  }
  
  /* Adiciona efeitos de hover e active para os botões */
  .consent-banner button:hover {
    transform: scale(1.05);
  }