<div #carouselContainer class="carousel-container">
 <div class="carousel-content" [ngStyle]="{'transform': 'translateX(' + currentTranslate + 'px)'}">
  <section class="cont" *ngFor="let item of items">
   <div class="row padding header">
    <div class="col header-conteudo">
     <span class="title">{{item.title}}</span>
     <span class="text">{{item.description}}</span>
    </div>
    <div class="col img-conteudo">
     <img [src]="item.img" alt="imagem.placeholder">
    </div>
   </div>
  </section>
 </div>
 <div (click)="prev()" class="cont_control carousel-control prev">
  <button *ngIf="currentIndex != 0" class="">‹</button>
 </div>
 <div (click)="next()" class="cont_control carousel-control next">
  <button *ngIf="currentIndex != this.lastIndex" class="">›</button>
 </div>
</div>

   <div class="row padding cont_card">
    <div class="col card" *ngFor="let card of this.cards">
     <img src="images/cubo.png" alt="">
     <span class="title">{{card.title}}</span>
     <span class="text">{{card.text}}</span>
    </div>
   </div>
   <div class="row padding cont_button">
    <div class="col">
     <button class="button">Saiba mais</button>
    </div>
   </div>