<section class="row main_avaliacoes" [class.expanded]="expanded" *ngIf="avaliacoes.length">
    <div class="avaliacao" *ngFor="let avaliacao of avaliacoes.slice(0, 3)">
        <div class="header">
            <div class="col user-avatar">
                <img src="images/user.png" alt="Avatar da pessoa">
            </div>
            <div class="rating">
                &#9733; &#9733; &#9733; &#9733; &#9734;
            </div>
        </div>
        <div class="col content">
            “{{ avaliacao.conteudo }}”
        </div>
        <div class="cont_user">
            <div class="col user-info">
                <span class="user-name">{{ avaliacao.user_name }}</span>
                <span>{{ avaliacao.profissao }} <strong>|</strong> {{ avaliacao.empresa }}.</span>
            </div>
        </div>
    </div>
</section>

<section class="row main_avaliacoes" [class.expanded]="expanded" *ngIf="!avaliacoes.length">
    <span>Seja o primeiro a comentar!!</span>
</section>