
.main_avaliacoes {
 gap: 30px;
 align-items: center;
 margin-bottom: 10px;
 justify-content: center;
 max-width: 1200px;
}

.avaliacao {
 width: 30%;
 max-width: 400px;
}

.avaliacao .row {
 flex-direction: column;
 gap: 5px;
 align-items: flex-start;
}

.user-info {
 flex-direction: column;
}

.footer_avaliacoes {
 height: 250px;
 background: var(--dark-color);
 gap: 40px;
}

.footer_avaliacoes,
.title_footer {
 text-align: center;
 flex-direction: column;
 justify-content: center;
 color: var(--quartenary-color);
}

.title_footer .footer_text {
 font-size: 2em;
 font-weight: bold;
 margin-bottom: 20px;
}

.footer_avaliacoes .cont_button {
 padding: 0;
}

@media (max-width:1000px) {
 .header_avaliacoes {
  padding: 5px;
  gap: 30px;

  .title {
   font-size: 3em;
  }

  .text {
   font-size: 1.3em;
  }
 }

 .cont_avalicoes {
  .cont_button {
   background: var(--light-dark-color);
   padding: 0;

   .button {
    margin: 30px 0;
   }
  }
 }

 .main_avaliacoes {
  padding: 5px;
  margin-top: 30px;
  flex-direction: column;
  justify-content: flex-start;
  max-height: 670px;
  overflow: hidden;

  .avaliacao {
   width: 100%;
   border: 2px solid var(--secondary-color);
   padding: 20px;
   border-radius: 20px;

   .cont_user {
    flex-direction: row;
    align-items: center;
    margin-top: 10px;

    .user_avatar {
     width: 30% !important;
    }

    .user-info {
     width: 70% !important;
    }
   }
  }
 }
}