.main_avaliacoes {
    gap: 30px;
    align-items: center;
    margin-bottom: 10px;
    justify-content: center;
    max-width: 1200px;
    flex-direction: column;
}

.avaliacao {
    width: 100%;
    max-width: 600px;
    border: 2px solid var(--secondary-color);
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;

    .cont_user {
        display: flex;
        align-items: flex-start;
        flex-direction: row;
        align-items: center;
        gap: 5px;
        text-align: left;

        .user_avatar {
            width: 30% !important;
        }

        .user-info {
            flex-direction: column;
            justify-content: flex-end;
            width: 70% !important;
        }
    }
}

@media (max-width:1000px) {
    .main_avaliacoes {
        padding: 5px;
        margin-top: 30px;
        flex-direction: column;
        justify-content: flex-start;
        max-height: 670px;
        overflow: hidden;
    }
}